.well
  h4 How To Join
  p
    | Read this page and then email us at <span class="email">afc-board-of-directors@googlegroups.com</span>
    | and tell us about yourself and why you want to be on our team!
.well
  h4 Our Team Ideology
  p
    | We want to use our love of endurance athletics to make a difference in the world!  Sport can
    | be a very selfish endeavor, we want to take it and make it into something that is more than
    | just training, racing, getting fit, and having fun.  We want to keep all of the 'fun' and then
    | add charity, giving back, and selflessness on top of that!  To join our team, please email
    | us at <span class="email">afc-board-of-directors@googlegroups.com</span>.
.well
  h4 Membership Termination
  p
    | Termination of team membership may result due to unsportsmanlike
    | conduct or conduct that is considered to be against the
    | <a href="/contact">AFC Mission Statement</a> as deemed by the AFC board of directors.
.well
  h4 Requirements
  ol.ordered-list(style="padding-left: 15px")
    li
      | You must volunteer in <span style="text-decoration: underline;">at least one</span>
      | AFC charity event per year, if you can't do that then any volunteer/charity work in your community can be a substitute.
      | You can see a list of the events we are hosting this year on the <a href="/events">events</a> page.
    li
      | You must always show good sportsmanship, especially when representing AFC.
    li
      | When possible, help promote our sponsors.
    li
      | When possible, wear the AFC jersey to all your races.  We do 2-3 jersey orders per year.  When we start an order we will send an email to all of our members.
    li
      | If you are a registered USAC athlete, then you need to designate
      | <a href="https://www.usacycling.org/clubs/index.php?club=11832" target="_blank">
      | Adventures For the Cure</a> as your team.
  i
    | AFC welcomes members who may also represent other teams as long as they meet
    | AFC requirements #1 and #2.
  br
  br
  h4 Benefits
  ol.ordered-list(style="padding-left: 15px")
    li You get access to the AFC Team Email list & Discord.
    li You get a chance to race with a team and people with similar interests.
    li You get access to team training rides/practices
    li You get numerous discounts/benefits from our sponsors