.col-lg-12(ng-controller='memberOnlyCtrl')
  //.well
  //  h3 2015 Jersey Order Instructions
  //  b NEW TEAM CENTER USERS:
  //  p
  //    ul
  //      li The link below to go to the Hincapie Team Center home page. Using the access code provided below, create your account.
  //      li Then log in and click New Order to begin your product selection.
  //  b NEW TEAM MEMBERS WITH EXISTING HINCAPIE TEAM CENTER ACCOUNT:
  //  p
  //    ul
  //      li Click the link below to go to the Hincapie Team Center home page. Log in to your account, and then use the drop-down menu at the top right-hand corner of the screen to select Account. Scroll down to My Teams and enter the access code provided below. This will link your account to our team order.
  //      li After you have done this, click Home at the top of the screen and click New Order begin your product selection.
  //  b RETURNING TEAM MEMBERS WITH EXISTING HINCAPIE TEAM CENTER ACCOUNT:
  //  p
  //    ul
  //      li Click the link below to go to the Hincapie Team Center home page. Log in to your account and click New Order begin your product selection.
  //  b TEAM CENTER LINK:
  //  p
  //    ul
  //      li
  //        a(href='https://teamcenter.hincapie.com/' target='_blank') https://teamcenter.hincapie.com/
  //      li Access Code: adventuresforthecure15
  //.well
  //  h3 2015 Jersey Images
  //  ul
  //    li(ng-repeat='jerseyImage in jerseyImages')
  //      a(href='{{jerseyImage.path + "/" + jerseyImage.name}}' target='_blank') {{jerseyImage.name}}
  .well
    h3 AFC Team Member Resources
    p
      ul
        li <a href='https://groups.google.com/forum/?hl=en#!forum/2015-afc-team' target='_blank'>2015 Email Google Group</a> - You are added by default as a member of the team.
        li <a href='https://groups.google.com/forum/?hl=en#!forum/afc-training' target='_blank'>AFC Training Google Group</a> - You must request to be added.
        li <a href='https://app.strava.com/clubs/adventures-for-the-cure-afc' target='_blank'>AFC Strava Club</a> - Add yourself.
        li <a href='https://app.strava.com/clubs/38168' target='_blank'>Hub Strava Club</a> - Add yourself.
  .well
    h3 The Hub Partnership
    b Team Member Responsibilities
    p
      ul
        li To take advantage of Hub discounts you must have completed your volunteer requirements for 2014 or 2015 first.  Contact Patrick if you are not sure of your eligibility.
        li Support to the Hub by shopping there whenever possible.  The Hub supports our team and we need to support them.  Don't buy online or at other shops.
        li Advertise the Hub whenever possible whether on social media or in casual conversation
    b Team Member Benefits
    p
      ul
        li 2 bulk parts orders on February 28th and June 15th
        li 1 Conti tire bulk order on March 27th
        li 1 Maxxis tire bulk order on July 15th
        li 1 Stages Power Meter bulk order on February 27th
        li Team bike order (looking at possibly a cross bike order in August and other bikes in early fall)
        li Standard AFC discount of 20% off at any time
        li Supporting all 3 of our bike races
  .well
    h3 Spin90
    p AFC Teammembers get a 10% discount on classes at Spin90.  Go to <a href='http://spin90.com' target='_blank'>spin90.com</a> and use the discount code "AFC" to apply the 10% discount.
  .well
    h3 Tarantino Engineering Consultants
    p Current AFC members, their extended families, and fellow team sponsors receive 15% discount off any quote for engineering consulting services we offer.  Please contact us by phone at 240-328-8778 or by email at info@tarantinoec.com.  More info at <a href='http://www.tarantinoec.com/' target='_blank'>www.tarantinoec.com</a>
  .well
    h3 The Spence Miller Team
    p The Spence Miller Team will donate $100 to AFC for any new client referred to us through the team (this including teammates' friends and family, and is extended to fellow sponsors).  We will also discount our listing fee by 0.5% for all sellers referred through AFC.  For home buyers referred through AFC, we will purchase a 1-year home warranty for your new home.  More info at <a href='http://www.cbmove.com/matt.spence' target='_blank'>www.cbmove.com/matt.spence</a>.
  .well
    h3 CeraSport
    p Go to http://ceraproductsinc.com/ to find the products you want to buy, then call them and say you are a ceraclub sponsored athlete and would like to place an order. Ceraclub members receive 15% off.

