.col-lg-12(ng-controller='memberOnlyCtrl')
  .well
    h3 2016 AFC Team Member Resources
    p
      ul
        li <a href='https://groups.google.com/forum/?hl=en#!forum/2016-afc-team' target='_blank'>2016 Team Email Google Group</a> - You are added by default as a member of the team.
        li <a href='https://groups.google.com/forum/?hl=en#!forum/afc-training' target='_blank'>AFC Training Google Group</a> - You must request to be added.
        li <a href='https://app.strava.com/clubs/adventures-for-the-cure-afc' target='_blank'>AFC Strava Club</a> - Add yourself.
        li <a href='https://app.strava.com/clubs/38168' target='_blank'>Hub Strava Club</a> - Add yourself.
        li <a href='https://www.trainerroad.com/teams/3257-adventures-for-the-cure-afc-' target='_blank'>AFC TrainerRoad</a> - You must request to be added.
  .well
    h3 2016 AFC/Hub Partnership Agreement
    b Team Member Responsibilities
    p
      ul
        li <b>Eligibility</b>: To take advantage of Hub discounts you must have completed your volunteer requirements for 2015 or 2016 first. Contact Patrick if you are not sure of your eligibility.
        li <b>Shopping</b>: Don't buy online or at other shops.  The Hub supports our team and we need to support them. (if you see something, say something…they can usually get pricing close!)
        li <b>Group Rides</b>: Show up at a group ride every once in a while.  Lots of options leaving the HUB, both road and mountain (join the <a href='https://app.strava.com/clubs/38168' target='_blank'>Hub's Strava Club</a> for details).
        li <b>Advertise the Hub</b>: On social media or in casual conversation.
        li <b>Friend/Family Discount</b>: Your friends need bikes and if they identify themselves as a "a friend of AFC member __________", they can get a great bike at a great price and 2 years free service with any bike purchase and 15% off any accessories at the time of purchase.  The Hub carries bikes from Cannondale, Giant, Rocky Mountain and Jamis
    b Team Member Benefits
    p
      ul
        li 3 bulk parts orders via HAWLEY on February 28th, June 15th, and October 15th
        li 1 Conti tire bulk
        li 1 Maxxis tire bulk
        li 1 Stages Power Meter bulk order
        li 1 Industry Nine Wheels Bulk order
        li Additional Team Deals to be determined
        li Team bike order (looking at possibly a cross bike order in August and other bikes in early fall)
        li Standard AFC discount of 20% off at any time on parts and accessories.  10% discount on labor charges
        li Supporting all 3 of our bike races
  .well
    h3 Spin90
    p AFC Teammembers get a 10% discount on classes at Spin90.  Go to <a href='http://spin90.com' target='_blank'>spin90.com</a> and use the discount code "AFC" to apply the 10% discount.
  .well
    h3 Tarantino Engineering Consultants
    p Current AFC members, their extended families, and fellow team sponsors receive 15% discount off any quote for engineering consulting services we offer.  Please contact us by phone at 240-328-8778 or by email at info@tarantinoec.com.  More info at <a href='http://www.tarantinoec.com/' target='_blank'>www.tarantinoec.com</a>
  .well
    h3 The Spence Miller Team
    p The Spence Miller Team will donate $100 to AFC for any new client referred to us through the team (this including teammates' friends and family, and is extended to fellow sponsors).  We will also discount our listing fee by 0.5% for all sellers referred through AFC.  For home buyers referred through AFC, we will purchase a 1-year home warranty for your new home.  More info at <a href='http://www.cbmove.com/matt.spence' target='_blank'>www.cbmove.com/matt.spence</a>.
  .well
    h3 CeraSport
    p Go to http://ceraproductsinc.com/ to find the products you want to buy, then call them at 843-842-2600 and say you are a ceraclub sponsored athlete and would like to place an order. Ceraclub members receive 15% off.

