//.col-lg-12(ng-controller='memberOnlyCtrl')
//  .well
//    h3 2017 AFC Team Member Resources
//    p
//      ul
//        li <a href='https://groups.google.com/forum/?hl=en#!forum/2016-afc-team' target='_blank'>2016 Team Email Google Group</a> - You are added by default as a member of the team.
//        li <a href='https://groups.google.com/forum/?hl=en#!forum/afc-training' target='_blank'>AFC Training Google Group</a> - You must request to be added.
//        li <a href='https://app.strava.com/clubs/adventures-for-the-cure-afc' target='_blank'>AFC Strava Club</a> - Add yourself.
//        li <a href='https://app.strava.com/clubs/38168' target='_blank'>Hub Strava Club</a> - Add yourself.
//        li <a href='https://www.trainerroad.com/teams/3257-adventures-for-the-cure-afc-' target='_blank'>AFC TrainerRoad</a> - You must request to be added.
//  .well
//    h3 2018 AFC/Hub Partnership Agreement
//    b Team Member Responsibilities
//    p
//      ul
//        li <b>Eligibility</b>: To take advantage of Hub discounts you must have completed your volunteer requirements for 2017 or 2018 first. Contact Patrick if you are not sure of your eligibility.
//        li <b>Shopping</b>: Don't buy online or at other shops.  The Hub supports our team and we need to support them. (if you see something, say something…they can usually get pricing close!)
//        li <b>Group Rides</b>: Show up at a group ride every once in a while.  Lots of options leaving the HUB, both road and mountain (join the <a href='https://app.strava.com/clubs/38168' target='_blank'>Hub's Strava Club</a> for details).
//        li <b>Advertise the Hub</b>: On social media or in casual conversation.
//        li <b>Friend/Family Discount</b>: Your friends need bikes and if they identify themselves as a "a friend of AFC member __________", they can get a great bike at a great price and 2 years free service with any bike purchase and 15% off any accessories at the time of purchase.  The Hub carries bikes from Giant, Rocky Mountain, Jamis, and Open
//    b Team Member Benefits
//    p
//      ul
//        li 2 bulk parts orders via QBP.  These will be done in Jan/Feb and again in June/July. (if we have enough AFC member interest)
//        li 1 Conti tire bulk (if we have enough AFC member interest)
//        li 1 Maxxis tire bulk (if we have enough AFC member interest)
//        li 1 Stages Power Meter bulk order (if we have enough AFC member interest)
//        li 1 Industry Nine Wheels Bulk order (if we have enough AFC member interest)
//        li Additional Team Deals TBD (example: Kickr) basically if we have enough interest in a product as a group, then Hub can probably make a team deal happen!
//        li Team bike order(looking at possibly a cross bike order in May/June and other bikes in early fall)
//        li Standard AFC discount of 20% off at any time on parts and accessories.  10% discount on labor charges
//  .well
//    h3 CB Multisport
//    p AFC members receive 15% off monthly coaching services and 25% off stand alone services including LT Testing, MTB Instruction, Form Analysis, Fueling Plans, etc.
//  .well
//    h3 The Spence Miller Team
//    p The Spence Miller Team will donate $100 to AFC for any new client referred to us through the team (this including teammates' friends and family, and is extended to fellow sponsors).  We will also discount our listing fee by 0.5% for all sellers referred through AFC.  For home buyers referred through AFC, we will purchase a 1-year home warranty for your new home.  More info at <a href='http://www.cbmove.com/matt.spence' target='_blank'>www.cbmove.com/matt.spence</a>.
//  .well
//    h3 CeraSport
//    p
//      | Go to <a href='http://ceraproductsinc.com/' target='_blank'>ceraproductsinc.com</a> to find the products you want to buy, then call them at 843-842-2600 and say you are a ceraclub sponsored athlete and would like to place an order. Ceraclub members receive 15% off.
//
