.col-lg-12(ng-controller='memberOnlyCtrl')
  .well
    h3 The Hub
    b Team Member Responsibilities
    p
      ul
        li Support to the Hub by shopping there exclusively.  The Hub supports our team and we need to support them.  Don't buy online or at other shops.
        li Advertise the Hub whenever possible whether on social media or in casual conversation
    b Team Member Benefits
    p
      ul
        li 2 bulk orders (spring/fall exact dates coming soon)
        li 2 tire orders (1 Conti and 1 Maxxis exact dates coming soon)
        li stages order (spring exact dates coming soon)
        li team bike order (fall exact dates coming soon)
        li Standard AFC discount of 20% off at any time
        li Supporting all 3 of our bike races
  .well
    h3 Spin90
    p AFC Teammembers get a 10% discount on classes at Spin90.  Go to <a href='http://spin90.com' target='_blank'>spin90.com</a> and use the discount code "AFC" to apply the 10% discount.

