.row(ng-controller='volunteerEventListCtrl')
  .col-lg-12
    .well
      table.table.table-striped.table-condensed
        thead
          tr
            th Name
            th Date
            th AFC Event
            th Image / Logo
            th Actions
        tbody
          tr(ng-repeat="volunteerEvent in volunteerEvents")
            td {{volunteerEvent.name}}
            td {{volunteerEvent.date | date:'yyyy-MM-dd'}}
            td {{volunteerEvent.isAfcEvent}}
            td
              a(ng-if="volunteerEvent.imgPath" href="{{volunteerEvent.imgPath}}" target="_blank")
                img(src="{{volunteerEvent.imgPath}}" width="100px" height="auto" alt="No image!")
              span(ng-if="!volunteerEvent.imgPath") No image!
            td
              button.btn.btn-default.btn-sm(ng-click="editVolunteerEvent(volunteerEvent)" title="Edit")
                span(class="glyphicon glyphicon-edit" aria-hidden="true")
              | &nbsp;
              button.btn.btn-default.btn-sm(ng-click="deleteVolunteerEvent(volunteerEvent)" title="Delete")
                span(class="glyphicon glyphicon-trash" aria-hidden="true")
