.row
  .col-lg-12
    .well
      h4 Westside Worlds (WsW)
      p.special.extraspecial ENDED FOR THE SEASON... Check back in 2019
      p.special.extraspecial This is an UNOFFICIAL RIDE. You ride at your own risk!
      p
        | <span class='extraspecial'>Where</span>:
        | Starting from <a href='http://www.cvillebikes.com/' target='_blank'> The HUB</a> (parking in the back)
        | <br />
        | <span class='extraspecial'>When</span>:
        | At 5:30pm on Tuesdays.
        | <br />
        | <span class='extraspecial'>Cue Sheets</span>:
        | <a href='https://app.strava.com/routes/636719' target='_blank'>A Group Route</a>, <a href='https://app.strava.com/routes/636755' target='_blank'>B Group Route</a>
      p
        | Join the <a href='https://groups.google.com/forum/?hl=en#!forum/westside-worlds' target='_blank'>WsW Email List</a>.  One email per week is sent to everyone on this list to give ride announcements / updates.
      p
        | This is a fast ride in Catonsville area which incorporates lots of different types of hills in Ellicott City. We will use this group has announcements when ride will begin. This is a full drop ride so please bring a que sheet if you don’t know the roads. We will divide into an A and a B group. In general if you race at the Cat 1-3 level then the A group is for your. If you race at the Cat 4-5 level then try the B group if it is your first time and move to the A group when you want more of a challenge.
    .well
      h4 Rip, Regroup, Repeat - Saturday Morning Mountain Bike Ride
      p
        | We will be ripping the trails at a fast pace, then we will regroup as pre-determined locations, then we will repeat the process over and over for about 2 hours.  This allows riders of various speeds to ride together!
      p
        | <span class='extraspecial'>When</span>: At 8:00am Saturday mornings when the trails are rideable.
        | <br />
        | <span class='extraspecial'>Where</span>: You have two options for where to meet to start the ride at 8am, these two groups will then meet at the top of Water Bars at about 8:15am.
        | <br/>
        | &nbsp&nbsp - Baltimore County Start Location: <a href='https://www.google.com/maps/dir//39.2518695,-76.7333346/@39.2524261,-76.7343539,17z/data=!4m2!4m1!3e0' target='_blank'>CCBC Tennis Court Parking Lot</a>
        | <br />
        | &nbsp&nbsp - Howard County Start Location: <a href='https://www.google.com/maps/place/Patapsco+Trail+Head+At+Landing+Road/@39.2175647,-76.7546477,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7e1e1363cde49:0x96d1df535483c6c5!8m2!3d39.2175647!4d-76.752459' target='_blank'>Landing Road Trail Head</a>
        | <br />
      p
        | <img src='https://res.cloudinary.com/http-adventuresforthecure-com/image/upload/c_scale,r_13,w_400/v1548917958/IMG_3265_gkhkps.jpg'></img>
      p
        | Join team AFC to get email announcements for when we will be riding.  If you are not on the team email us on the 'Contact Us' page to check on ride status.
    .well
      h4 AFC Zwift Community Teams
      p
        | <span class='extraspecial'>Where</span>:
        | <a href='https://zwift.com/news/11908-announcing-the-kiss-league' target='_blank'>Zwift!!</a>
        | <br />
        | <span class='extraspecial'>When</span>:
        | Thursdays at 6am and/or 8pm.
        | <br />
      p
        | Join team AFC to find an AFC Zwift Community team to join.  We currently have 2 teams but are looking to expand!   We keep in touch during the events using a Discord Channel.
      p
        | Race all year round with AFC teammates in super competitive races.  Keep your motivation and fitness high!  Would love to have more people join us in these races.