.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/elkridge-spring-classic' target='_blank')
          img(src='img/events/esc.png' alt='ESC')
        h4 Elkridge Spring Classic
        h4 Apr 7, 2018 in Elkridge MD
        p
          a(href='https://www.bikereg.com/elkridge-spring-classic' target='_blank') Register here!
      p A MABRA road bike race!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
          img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h4 SugarHill MTB
        h4 Apr 8, 2018 in Patapsco Valley State Park MD
        p
          a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank') Register here!
      p A cross country mountain bike race
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='http://www.adventuresforthecure.com/campaigns#2018-05-12%20AFC%20Everesting' target='_blank')
          // img(src='img/events/rockburncross.jpg' alt='rockburn cross')
          h4 AFC Everesting
        h4 May 12, 2018 in Ellicott City, MD
        p Email adventuresforthecure@gmail.com to register
      p Climbing the height of Mt. Everest!
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        h4 Catonsville Crit
        h4 July 14th, 2018 in Catonsville, MD
        p
          a(href='https://www.bikereg.com/catonsville-criterium' target='_blank') Register here!
      p
        | A critirium race in Catonsville!!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h4 Rockburn Cross
        h4 Nov 11, 2018 in Elkridge MD
        p Registration coming soon...
      p
        | Part of the <a href='http://www.super8cx.org/' target='_blank'>Super 8</a> Cyclocross Series.  Held in Elkridge MD.

