.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href="https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park" target="_blank")
          img(src="img/events/sugarhill.png" alt="sugar hill")
        br
        h4 SugarHill MTB
        h4 March 15th, 2014
        a(href="https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park" target="_blank")
          Register HERE!
        p A cross country mountain bike race in Patapsco
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href="http://main.diabetes.org/site/TR/TourdeCure/TourAdmin/2121739074?pg=team&fr_id=9354&team_id=665256" target="_blank")
          img(src="img/events/tdc.png" alt="Tour De Cure")
        h4 Greater MD Tour De Cure
        h4 May 3rd, 2014
        a(href="http://main.diabetes.org/site/TR/TourdeCure/TourAdmin/2121739074?pg=team&fr_id=9354&team_id=665256" target="_blank")
          Register HERE to join the AFC Team!
      p
        | A road ride through MD to benefit <a href="http://main.diabetes.org/site/TR/TourdeCure/TourAdmin?fr_id=9354&pg=entry" target="_blank">ADA</a>
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href="https://www.bikereg.com/Net/patapsco-100" target="_blank")
          img(src="img/events/patapsco100.png" alt="Patapsco")
        h4 Patapsco 100
        h4 July 6th, 2014
        a(href="https://www.bikereg.com/Net/patapsco-100" target="_blank")
          Register HERE!
      p A 100 mile mountain bike race in Patapsco
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src="img/events/highwaytoheaven.jpg" alt="highway to heaven")
        h4 Highway To Heaven
        h4 August 9th, 2014
        span.special Registration coming soon...
      p
        | Supporting <a href="http://www.chesapeakewheelmen.org/" target="_blank">Chesapeake Wheelmen</a>. The MABRA Road Hill Climb Championship!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src="img/events/rw50.png" alt="road warrior 50")
        h4 Road Warrior 50
        h4 August 10th, 2014
        span.special
          Registration coming soon...
      p A road bike race held in Howard County
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src="img/events/rockburncross.jpg" alt="rockburn cross")
        h4 Rockburn Cross
        h4 November 16th, 2014
        span.special
          Registration coming soon...
      p
        | Part of the <a href="http://www.super8cx.org/" target="_blank">Super 8</a> Cyclocross Series

