.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
          img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h4 SugarHill MTB
        h4 Date: TBD
        // a(href='https://www.bikereg.com/Net/patapsco-100' target='_blank')
          Register HERE!
        p Registration coming soon...
        p A cross country mountain bike race in Patapsco
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/Net/patapsco-100' target='_blank')
          img(src='img/events/patapsco100.png' alt='Patapsco')
        h4 Patapsco 100
        h4 July 5th, 2015
        // a(href='https://www.bikereg.com/Net/patapsco-100' target='_blank')
          Register HERE!
        p Registration coming soon...
      p A 100 mile mountain bike race in Patapsco
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/highwaytoheaven.jpg' alt='highway to heaven')
        h4 Highway To Heaven
        h4 August 8th, 2015
        p Registration coming soon...
      p
        | Supporting <a href='http://www.chesapeakewheelmen.org/' target='_blank'>Chesapeake Wheelmen</a>. The MABRA Road Hill Climb Championship!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h4 Rockburn Cross
        h4 November 2015
        p Registration coming soon...
      p
        | Part of the <a href='http://www.super8cx.org/' target='_blank'>Super 8</a> Cyclocross Series

