.row
  .col-lg-12
    .well.pagination-centered
      p
        h4 2019 AFC Events
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='' target='_blank')
          img(src='img/events/esc.png' alt='ESC')
        h3 Elkridge Spring Classic
        h5 Sunday April 14th
        h5 Elkridge, MD
        p
          a(href='' target='_blank') Registration coming soon!
      p A MABRA road bike race
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
          img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h3 SugarHill MTB
        h5 Saturday May 4th (rain date Saturday May 11th)
        h5 Patapsco Valley State Park, Elkridge MD
        p
          a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank') Register here!
      p A cross country mountain bike race
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        h3 AFC Everesting
        h5 Saturday May 18th
        h5 Ellicott City, MD
        p Email adventuresforthecure@gmail.com to register
      p Climbing the height of Mt. Everest by going up/down <a href='https://www.strava.com/segments/14296497' target='_blank'>Ilchester Road in Ellicott City</a>.  Details about what an Everesting Event is can be found at <a href='https://everesting.cc/' target='_blank'>everesting.cc</a>.
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        h3 Catonsville Crit
        h5 Sunday July 14th
        h5 Catonsville, MD
        p
          a(href='' target='_blank') Registration coming soon!
      p
        | A MABRA criterium race
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h3 Rockburn Cross
        h5 Sunday November 17th
        h5 Elkridge, MD
        p
          a(href='' target='_blank') Registration coming soon!
      p
        | Part of the <a href='https://www.superseriescx.com/' target='_blank'>BikeReg Super Series</a>.

