.row
  .col-lg-12
    .well.pagination-centered
      p
        h4 2021 AFC Events
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h3 Rockburn Cross
        h5 Sunday November 2021
        h5 Elkridge, MD
      p
        //a(href='' target='_blank')
        Registration coming soon!
      // p
        | Part of the <a href='https://www.superseriescx.com/' target='_blank'>BikeReg Super Series</a>.

