.row
  .col-lg-12
    .well.pagination-centered
      p
        h4 2019 AFC Events
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='' target='_blank')
          img(src='img/events/esc.png' alt='ESC')
        h4 Elkridge Spring Classic
        h4 Saturday April 13th in Elkridge MD
        p
          a(href='' target='_blank') Registration coming soon!
      p A MABRA road bike race!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='' target='_blank')
          h4 AFC Everesting
        h4 Saturday April 20th in Ellicott City, MD
        p Email adventuresforthecure@gmail.com to register
      p Climbing the height of Mt. Everest!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
          img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h4 SugarHill MTB
        h4 Saturday May 4th (rain date Saturday May 11th) in Patapsco Valley State Park MD
        p
          a(href='' target='_blank') Registration coming soon!
      p A cross country mountain bike race
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        h4 Catonsville Crit
        h4 Sunday July 14th in Catonsville, MD
        p
          a(href='' target='_blank') Registration coming soon!
      p
        | A criterium race in Catonsville
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h4 Rockburn Cross
        h4 November (exact date TBA) in Elkridge MD
        p
          a(href='https://www.bikereg.com/rockburncross' target='_blank') Registration coming soon!
      p
        | Part of the <a href='http://www.super8cx.org/' target='_blank'>Super 8</a> Cyclocross Series.  Held in Elkridge MD.

