.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='http://www.adventuresforthecure.com/campaigns#2017-02-04%20AFC%20Power%20Trainer%20Party' target='_blank')
          // img(src='img/events/rockburncross.jpg' alt='rockburn cross')
          h4 AFC Power Trainer Party
        h4 February 4th, 2017
        p
          a(href='http://www.adventuresforthecure.com/campaigns#2017-02-04%20AFC%20Power%20Trainer%20Party' target='_blank') Register here!
      p A fun charity event at our Jailbreak Brewery sponsor's facility!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        // a(href='http://main.diabetes.org/site/TR/TourdeCure/TourAdmin?team_id=723391&pg=team&fr_id=11099' target='_blank')
          // img(src='img/events/tdc.png' alt='Tour De Cure')
        h4 Elkridge Spring Classic
        h4 April 15th, 2017
        p
          div Registration coming soon!
          // a(href='http://www.adventuresforthecure.com/campaigns#2017-02-04%20AFC%20Power%20Trainer%20Party' target='_blank') Register here!
      p A MABRA road bike race in Elkridge
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        //a(href='https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
        img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h4 SugarHill MTB
        h4 April 29th, 2017
        p
          div Registration coming soon!
            // a(href='http://www.adventuresforthecure.com/campaigns#2017-02-04%20AFC%20Power%20Trainer%20Party' target='_blank') Register here!
      p A cross country mountain bike race in Patapsco
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/highwaytoheaven.jpg' alt='highway to heaven')
        h4 Highway To Heaven
        h4 July 1st, 2017
        p Registration coming soon...
      p
        | Supporting <a href='http://www.chesapeakewheelmen.org/' target='_blank'>Chesapeake Wheelmen</a>. The MABRA Road Hill Climb Championship!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/mppcx.jpg' alt='MPPCX')
        h4 MPPCX
        h4 TBD
        p
          a(href='https://www.bikereg.com/mppcx' target='_blank') Register here!
      p
        | A cyclocross race held at Merriweather Post Pavilion in Columbia, MD
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h4 Rockburn Cross
        h4 November 12th, 2017
        p Registration coming soon...
      p
        | Part of the <a href='http://www.super8cx.org/' target='_blank'>Super 8</a> Cyclocross Series

