.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
          img(src='img/events/sugarhill.png' alt='sugar hill')
        br
        h4 SugarHill MTB
        h4 April 3rd, 2016 (rain date May 1st)
        p
          a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank') Register HERE!
        p A cross country mountain bike race in Patapsco
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        a(href='http://main.diabetes.org/site/TR/TourdeCure/TourAdmin?team_id=723391&pg=team&fr_id=11099' target='_blank')
          img(src='img/events/tdc.png' alt='Tour De Cure')
        h4 ADA Tour De Cure
        h4 May 7th, 2016
       a(href='http://main.diabetes.org/site/TR/TourdeCure/TourAdmin?team_id=723391&pg=team&fr_id=11099' target='_blank') Join our team!
      p A ride in Columbia, MD to raise money to support the
        | <a href='http://www.diabetes.org/' target='_blank'>American Diabetes Association</a>
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        // a(href='https://www.bikereg.com/Net/patapsco-100' target='_blank')
        img(src='img/events/ptaptrailfest.png' alt='Patapsco Trail Fest')
        h4 Patapsco Trail Fest
        h4 September 17/18, 2016
        p
          a(href='https://www.facebook.com/Patapsco-Trail-Fest-773896902738168/?fref=ts' target='_blank')  Details HERE!
      p Includes: camping, guided hikes, half/full/50mi ultra marathons, fully supported 50k mtb race, and enduro!
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/highwaytoheaven.jpg' alt='highway to heaven')
        h4 Highway To Heaven
        h4 TBD
        p Registration coming soon...
      p
        | Supporting <a href='http://www.chesapeakewheelmen.org/' target='_blank'>Chesapeake Wheelmen</a>. The MABRA Road Hill Climb Championship!
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h4 Rockburn Cross
        h4 TBD
        p Registration coming soon...
      p
        | Part of the <a href='http://www.super8cx.org/' target='_blank'>Super 8</a> Cyclocross Series

