.row
  .col-lg-12
    .well.pagination-centered
      p
        h4 2024 AFC Events
    .well.pagination-centered.medium-height
      p
        img(src='img/events/rockburncross.jpg' alt='rockburn cross')
        h3 Rockburn Cross
        h5 November 2024
        h5 Elkridge, MD
      p
        b
          a(href='https://www.bikereg.com/rockburncross2024' target='_blank') Register here!
      i
        | Part of the <a href='https://www.superseriescx.com/about-1.' target='_blank'>BikeReg Super Series</a>.

