.row
  .col-lg-12(ng-controller='volunteerCreateCtrl')
    .well
      p This is for 'board' members only.
    .well
      h4 Create Volunteer Event
      form.form-horizontal(name="createVolunteerEventForm" role='form')
        .form-group
          label.col-md-2.control-label(for="name") Name
          .col-md-10
            input.form-control(name="name", type="text", placeholder="Name", ng-model="name", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="date") Date
          .col-md-10
            input.form-control(name="date", type="date", ng-model="date", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="afcEvent") AFC Event
          .col-md-10
            input.form-control(name="afcEvent", type="checkbox", ng-model="isAfcEvent", autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="image")
          .col-md-10
            input(name="img" type="file" ng-file-select="onFileSelect($files)" accept="image/*", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="createVolunteerEvent()", ng-disabled="createVolunteerEventForm.$invalid || !img") Create
              | &nbsp;
              a.btn.btn-default(href="/") Cancel