extends ../includes/layout
block main-content
  .container-fluid
    div(ng-include='"/partials/navbar/navbar-login"')
  .container-fluid
    .row
      .col-md-9
        div(ng-view)
      .col-md-3
        div(ng-include='"/partials/sponsors/sponsors"')
  footer.container.text-center
    div(ng-include='"/partials/footer/footer"')