.row(ng-controller='inventoryCtrl')
  .col-lg-12
    .well
      b To make an order:
      ol
        li
         | Email us at <a href='mailto:afc.inventory@gmail.com?subject=AFC%20Inventory'>afc.inventory@gmail.com</a> and tell us what you want to buy
        li Total up the amount of everything you are going to purchase and make a payment by clicking the 'Buy Now' button below
      .pagination-centered
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_s-xclick')
          input(type='hidden' name='hosted_button_id' value='H5AWTA55ETLHN')
          input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
          img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
    .well.pagination-centered
      h3 AFC Inventory
      div(ng-repeat='(category, categoryItems) in inventoryItems')
        hr
        h4 {{category}}
        table.table.table-striped
          tr(ng-repeat='inventoryItem in inventoryItems[category]')
            // name
            td
              span{{inventoryItem.name}}

            // price
            td
              span Price: {{inventoryItem.price | currency : symbol : 2 }}

            // sale price
            td(ng-if='!ableToEdit()')
              span(ng-if='inventoryItem.salePrice') ON SALE: {{inventoryItem.salePrice | currency : symbol : 2 }}
            td(ng-if='ableToEdit()')
              span Sale Price:
              input(type='number' ng-model='inventoryItem.salePrice' ng-change='save(inventoryItem)' style='width:75px' class='inventory-item-input')

            // quantity
            td(ng-if='!ableToEdit()')
              span(ng-if='inventoryItem.quantity <= 0') SOLD OUT!
              span(ng-if='inventoryItem.quantity > 0') {{inventoryItem.quantity}} Remaining
            td(ng-if='ableToEdit()')
              span Quantity
              input(type='number' ng-model='inventoryItem.quantity' ng-change='save(inventoryItem)' class='inventory-item-input')

            td(ng-if='ableToEdit()')
              button.btn.btn-default(ng-click='delete(inventoryItem)' class='inventory-item-delete') Delete