
.row
  .col-lg-12
    .well.pagination-centered
      h3 Westside Worlds (WsW) T-Shirts
      .row
        .col-lg-6
          img.graphic(alt='wsw_front' src='/img/shirts/wsw_front.JPG')
          div
            span Front
        .col-lg-6
          img.graphic(alt='wsw_back' src='/img/shirts/wsw_back.JPG')
          div
            span Back
      .row
        .col-lg-12
          div(align="center")
            | <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            | <input type="hidden" name="cmd" value="_s-xclick">
            | <input type="hidden" name="hosted_button_id" value="KQAUVZ9KVH3UQ">
            | <table>
            | <tr><td style="text-align:center;font-weight:bold"><input type="hidden" name="on0" value="Sizes"></td></tr><tr><td><select name="os0">
            |   <option value="Small">Small $20.00 USD</option>
            |   <option value="Medium">Medium $20.00 USD</option>
            |   <option value="Large">Large $20.00 USD</option>
            |   <option value="X-Large">X-Large $20.00 USD</option>
            | </select> </td></tr>
            | </table>
            | <input type="hidden" name="currency_code" value="USD">
            | <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            | <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            | </form>
      .row
        .col-lg-12
          p After you make your order we will send you an email within 24hrs for when/where to pick up your shirt.
//.row(ng-controller='inventoryCtrl')
  .col-lg-12
    .well.pagination-centered
      h3 2012 / 2013 / 2014 / 2015 Jerseys and Other AFC Items
      p
        | Make your purchase using the paypal buttons, after you are done send us an email
        | <a href='mailto:adventuresforthecure@gmail.com?subject=AFC%20Inventory'>adventuresforthecure@gmail.com</a>
        | to coordinate pick up or shipping.
      form(target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post")
        input(type="hidden" name="business" value="adventuresforthecure@gmail.com")
        input(type="hidden" name="cmd" value="_cart")
        input(type="hidden" name="display" value="1")
        input(type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" alt="PayPal - The safer, easier way to pay online")
        img(alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" )
      div(ng-show='isLoading')
        span Loading inventory items....
        img(src='/img/loader.gif')
      div(ng-show='!isLoading' name='inventoryItemList' ng-repeat='(category, categoryItems) in inventoryItems')
        hr
        h4 {{category}}
        .row(ng-repeat='inventoryItem in inventoryItems[category]')
          .col-md-4
            span{{inventoryItem.name}}
          .col-md-2
            span Price: {{(inventoryItem.salePrice && inventoryItem.salePrice >= 0) ? inventoryItem.salePrice : inventoryItem.price | currency : symbol : 2 }}
          .col-md-2(ng-if='inventoryItem.quantity >= 0')
            span {{inventoryItem.quantity}} Remaining
          .col-md-2
            span(ng-if="inventoryItem.imgPath")
              a(href="{{inventoryItem.imgPath}}" target="_blank")
                img(src="{{inventoryItem.imgPath}}" width="100px" height="auto" alt="No image!")
          .col-md-2
            form(target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post")
              input(type="hidden" name="business" value="adventuresforthecure@gmail.com")
              input(type="hidden" name="cmd" value="_cart")
              input(type="hidden" name="add" value="1")
              input(type="hidden" name="item_name" value="{{inventoryItem.name}}")
              input(type="hidden" name="custom" value="{{inventoryItem.code}}")
              input(type="hidden" name="amount" value="{{(inventoryItem.salePrice && inventoryItem.salePrice >= 0) ? inventoryItem.salePrice : inventoryItem.price}}")
              input(type="hidden" name="currency_code" value="USD")
              input(type="hidden" name="shopping_url" value="https://adventuresforthecure.com/inventory")
              input(type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" alt="PayPal - The safer, easier way to pay online")
              img(alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif")