.row(ng-controller='inventoryCtrl')
  .col-lg-12
    .well
      b To make an order:
      ol
        li
         | Email us at <a href='mailto:afc.inventory@gmail.com?subject=AFC%20Inventory'>afc.inventory@gmail.com</a> and tell us what you want to buy
        li Total up the amount of everything you are going to purchase and make a payment by clicking the 'Buy Now' button below
      .pagination-centered
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_s-xclick')
          input(type='hidden' name='hosted_button_id' value='H5AWTA55ETLHN')
          input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
          img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
    .well.pagination-centered
      h3 AFC Inventory
      // p Page is under construction... email afc.inventory@gmail.com if there is something you want to buy
      div(ng-if='ableToEdit()')
        form.form-horizontal(name="inventoryItemAddForm" role="form")
        fieldset
          legend Add Item
          .form-group
            label.col-md-3.control-label(for="category") Category
            .col-md-9
              select.form-control(name='category', ng-model="newItem.category", ng-options='category as category for category in allCategories', required)
          .form-group
            label.col-md-3.control-label(for="name") Name
            .col-md-9
              input.form-control(name="name", type="text", placeholder="Name", ng-model="newItem.name", required, autocomplete="off" )
          .form-group
            label.col-md-3.control-label(for="quantity") Quantity
            .col-md-9
              input.form-control(name="quantity", type="number", placeholder="1", ng-model="newItem.quantity", required, autocomplete="off" )
          .form-group
            label.col-md-3.control-label(for="price") Price
            .col-md-9
              input.form-control(name="price", type="number", placeholder="1", ng-model="newItem.price", required, autocomplete="off" )
          .form-group
            label.col-md-3.control-label(for="salePrice") Sale Price
            .col-md-9
              input.form-control(name="salePrice", type="number", placeholder="1", ng-model="newItem.salePrice", autocomplete="off" )
          .form-group
            label.col-md-3.control-label(for="image") Image
            .col-md-9
              input(name="img" type="file" ng-file-select="onFileSelect($files)" accept="image/*")
          .form-group
            .col-md-9.col-md-offset-2
              .pull-right
                button.btn.btn-primary(ng-click="createItem()", ng-disabled="inventoryItemAddForm.$invalid") Save
                &nbsp;
                button.btn(ng-click="resetForm()") Reset
      div(ng-repeat='(category, categoryItems) in inventoryItems')
        hr
        h4 {{category}}
        table.table.table-striped
          tr(ng-repeat='inventoryItem in inventoryItems[category]')
            // category
            td(ng-if='ableToEdit()')
              select.form-control(name='category', ng-model="inventoryItem.category", ng-options='category as category for category in allCategories', ng-change='update(inventoryItem)')
            // name
            td(ng-if='!ableToEdit()')
              span{{inventoryItem.name}}
            td(ng-if='ableToEdit()')
              input.inventory-item-input-name(type='text' ng-model='inventoryItem.name' ng-change='update(inventoryItem)' style='width:75px')
            // price
            td
              span Price: {{inventoryItem.price | currency : symbol : 2 }}
            // sale price
            td(ng-if='!ableToEdit()')
              span.special(ng-if='inventoryItem.salePrice > 0') ON SALE: {{inventoryItem.salePrice | currency : symbol : 2 }}
            td(ng-if='ableToEdit()')
              span 'On Sale' Price:
              input.inventory-item-input(type='number' ng-model='inventoryItem.salePrice' ng-change='update(inventoryItem)' style='width:75px')
            // quantity
            td(ng-if='!ableToEdit() && inventoryItem.quantity >= 0')
              span(ng-if='inventoryItem.quantity === 0') SOLD OUT!
              span(ng-if='inventoryItem.quantity > 0') {{inventoryItem.quantity}} Remaining
            td(ng-if='ableToEdit()')
              span Quantity
              input.inventory-item-input(type='number' ng-model='inventoryItem.quantity' ng-change='update(inventoryItem)')
            // image
            td(ng-if='ableToEdit()')
              span(ng-if='inventoryItem.loadingImg')
                img(src='/img/loader.gif')
              span(ng-if="!inventoryItem.loadingImg && inventoryItem.imgPath")
                a(href="{{inventoryItem.imgPath}}" target="_blank")
                  img(src="{{inventoryItem.imgPath}}" width="100px" height="auto" alt="No image!")
              input(name="imageUpload" type="file" ng-file-select="onUpdatedFileSelect(inventoryItem, $files)" accept="image/*")
            td(ng-if='!ableToEdit()')
              span(ng-if="inventoryItem.imgPath")
                a(href="{{inventoryItem.imgPath}}" target="_blank")
                  img(src="{{inventoryItem.imgPath}}" width="100px" height="auto" alt="No image!")
            // delete
            td(ng-if='ableToEdit()')
              button.btn.btn-default.btn-sm(ng-click='delete(inventoryItem)' title="Delete")
                span(class="glyphicon glyphicon-trash" aria-hidden="true")