<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Adam Driscoll_4_4092332995.jpg" /></div>
<br />
<div>
	Co-founder of AFC</div>
<div>
	CAT 2 Road Racing</div>
<div>
	CAT 1 Cyclocross</div>
<div>
	Member of <a href="http://www.themorningride.com/">TMR</a></div>
<div>
	<a href="http://www.usacycling.org/results/index.php?compid=256984&amp;all=1" target="_blank">Race Stats</a><br />
	<br />
	Started Adventures For the Cure(AFC) with Patrick Blair in 2005 when we decided to bike to Ocean City and back in two days.&nbsp;<br />
	<br />
	Concentrating on Duathlon nationals short course for 2013 along with a few ultra cross/NUE races. &nbsp;Hoping to expand the amount of races AFC puts on to 4 so we can raise more money for our causes!<br />
	<br />
	Very exciting to see how our team has grown to even include running teammates!<br />
	<br />
	Adam<br />
	<br />
	&nbsp;</div>
</div>