<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Alain Philippe.jpg" /></div>
<br />
<p>
	Name: Alain G. Philippe<br />
	Age 45<br />
	Riding since 2002<br />
	Road racing since 2006,<br />
	Cyclocross racing since 2009<br />
	Favorite rides: Long climbs like the Alps in France, or the Rockies in Colorado.<br />
	<br />
	After seeing the enthusiasm brought by AFC&#39;s members at various races, I checked out the AFC web site and decided to join the team, mainly with the idea to ride my bike for a great cause.</p>
</div>