<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Andy Garofano.jpg"/>
	</div>
	<br/>
	<p>
		Andy has enjoyed outdoor sports since his teens when surfing and rock 
		climbing ruled his life.  Since then he has pursued triathlon, stand-up 
		paddling, and trail running.  Some recurring injuries during training for 
		an ultra marathon led him to purchase a road bike and tune-up his mountain 
		bike as a way to stay in shape.  Well, one thing led to another and now he 
		is obsessed with cycling and mountain biking, having re-vamped his life to 
		accommodate his desire to be on the bike.  AFC and their mission is a 
		perfect fit for Andy, as he is a congenital heart patient, having undergone 
		several extensive heart surgeries throughout his life.  He is excited to 
		spread the word of AFC in his native Northeast Pennsylvania and contribute 
		to raising awareness and support for people with chronic diseases. 
	</p>
</div>