<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Bill Wheeler.jpg"/>
</div>
<br/>
<p>
	Too many people need help more than I do.  From diabetes to cancer and a bunch of stuff in between, I like to do what I can to help raise awareness to both these major issues.
</p>
<p>
	I'm a member and coach for Team Fight and have been a long time member of AFC.
</p>
<p>	 
	I've spent years racing and coaching triathlon. I love riding anything with wheels.
</p>
<p>
	My favorite new sport is Cyclocross can't imagine not racing CX.
</p>
<p>	 
	Endurance is addicting, plain and simple. 
</p>
</div>