<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Brent Scheitlin.jpg"/>
	</div>
	<br/>
	<p>
		I'm an accountant for two different companies. I also play, write, and record music. After my father got hurt substituting for my softball team in 2009 - a week before his half marathon - I decided the only way to repay him was to get into shape and run a full marathon the next year. I hated running at the time but learned to love it. I have now run a couple marathons and completed numerous triathlons and wish to use my love for multi and endurance sports to raise money to help people and animals.
	</p>
</div>