<div class="cushycms"><div align="center" id="imageDiv"><img alt="" src="/img/members/Brian Tarantino_2_4822118.jpg" style="width: 448px; height: 408px;" /></div>
&nbsp;

<p>I converted from a lifelong soccer player to cyclist at the end of 2010 after three orthopedists gave me the same direction: &quot;stop running&quot;. (bad knees). A good friend of mine introduced me to mountain biking and I&#39;ve been obsessed ever since: a great workout, adrenaline pumping downhills, massive climbs and little to no impact on my knees. Biking has literally changed my life.</p>

<p>I started road biking as well in 2011 and then competing in 2012. I particularly enjoy XC racing and the road bike portion of team duathlons/triathlons.</p>

<p>My favorite rides are the trails in Patapsco State Park and the roads through western Howard County. When I&#39;m not biking, I can be found playing the guitar. My day job is a structural engineer for an airport design firm.</p>

<p>I&#39;m looking forward to training, racing and volunteering with the team in the future.</p>
</div>