<div class="cushycms"><div id="imageDiv" align="center">
	<img src="/img/members/Bruce Cole.jpg" alt="" /></div>
<br />
<div>
	CAT 4 Road<br />
	XC Mountain Bike<br />
	&nbsp;</div>
<div class="paragraph">
	Bruce has been a road rider and mountain biker for many years before deciding to race. After a few years with a different team, Bruce joined AFC in 2009 after seeing all of the opportunities to ride with team members who are as passionate about helping others as they are about riding.</div>
</div>