<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Carl Christy.jpg" /></div>
<br />
<p>
	Carl Christy is a Christ follower who loves to ride his single speed mountain bike on any given day.  He holds a BS in Mathematics from the United States Naval Academy, and an MPM from Georgetown University.  Carl served in the United States Marine Corps as a Field Artillery Officer during combat operations, and is currently a Federal Government employee working in the Department of Defense.  Carl and his wife have two kids.
</p>
</div>