<div class="cushycms"><div id="imageDiv" align="center">
	<img src="/img/members/Charles Walters_2_1803322598.JPG" alt="" style="width: 400px; height: 300px" /></div>
<p style="text-align: center">
	CAT 4 Road Racing</p>
<p style="text-align: center">
	CAT&nbsp;4 Cyclocross</p>
<p>
	Charles joined the team in 2010 after learning about AFC during the Saturday Bike Dr rides. He is a regular at our Westside Worlds and you can find him some Saturdays at the Bike Dr ride. This fall he plans on racing his first cyclocross season with AFC. His oldest son Charlie is also racing this year on the juniors team.<br />
	&nbsp;</p>
</div>