<div class="cushycms"><div align="center" id="imageDiv"><img align="middle" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Chris Hilfiger.jpg" /></div>
&nbsp;

<div class="paragraph">Chris has been diabetic since the age of 31. He has always led an active, athletic lifestyle. While attending the University of Maryland Baltimore County he was a pole vaulter with the men&#39;s Track &amp; Field team. He also occasionally competed in the hurdles and javelin throw. He graduated from UMBC in 1999 with a degree in biological sciences. After graduation he was employed as a researcher, diagnostic equipment marketing representative, and a pharmaceutical regulatory affairs project manager, where he is currently employed with the Food &amp; Drug Administration.</div>

<div class="paragraph">&nbsp;</div>

<div class="paragraph">Chris is married to Randi Korenman Hilfiger and the couple has a daughter. They reside in EllicottCity, MD.</div>

<div class="paragraph">Chris is a Cat 5 road racer and Cat 3 cyclocross racer.</div>
</div>