<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Chris McKay.jpg"/>
</div>
<br/>
<p>
  Been a mountain and road rider since ~2003<br/>
Looking forward to trying out cyclocross this fall and doing a few mountain bike endurance races each year<br/>
Long term goals: Completing an Ironman and the Leadville 100, as well as riding some of the epic Tour de France climbs<br/>
Favorite places to ride: Patapsco State Park and Western Howard County<br/>
Looking forward to being a part of AFC and helping it achieve its goals!<br/>
</p></div>