<div class="cushycms">
	<div id="imageDiv" align="center"><img src="/img/members/Chris Cosper.jpg"/>
	</div>
	<br />
	<div>
		Cat 2 XC
	</div>
	<div>
		Cat 4 CX
	</div>
	<div class="text">
		I currently race cat 2 mountain bike and cat 4 cyclocross. 2011 was my first year of cx and I regret not trying it years ago. What a blast and I encourage anyone to give it a try! I have also enjoyed several 12 hour endurance races, including Bakers Dozen, Lodi Farms, and the Cranky Monkey series. 2012 will be my busiest racing season yet. Some of my big goals this year are the Cohutta 100 in April and the Shenandoah 100 in September. Locally, I enjoy helping with trail maintenance and building as I can. I'm very enthusiastic about the sport and love to promote cycling. Get out and ride!
	</div>
	<div class="text">
		Promoting awareness for AFC brings me great joy and excitement!
	</div>
</div>