<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Cleo Driscoll.jpg"/>
</div>
<br/>
<ul>
    <li><strong>Age:</strong> 24</li>
    <li><strong>What do you do for a living:</strong> Environmental Health &amp; Safety Associate at Environmental Profiles, Inc.</li>
    <li><strong>What kind of racing or riding do you like to do:</strong> I enjoy competing in triathlons as well as relaxing road rides in beautiful places.</li>
    <li><strong>Where is your favorite place to ride: </strong>Patapsco State Park or on the E. shore of MD.</li>
    <li><strong>What is your favorite charity:</strong> AFC of course as well as any environmental non-profits.</li>
    <li><strong>Why are you joining the AFC Women's Team:</strong> to help raise awareness for AFC's causes, meet new people, compete, and find cool people to ride with.</li>
    <li><strong>Do you have a riding goal, if so what is it: </strong>To do a century ride.</li>
</ul></div>