<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Cody Smith.jpg"/>
</div>
<br/>
<p class="text">
  I started running and weightlifting my junior year of college to get my weight under control after ignoring my health since high school sports.  After hitting my limit on the treadmill, I took my training outside.  Shortly after, I found myself participating in a few duathlons, half-marathons, and the Baltimore Marathon.  In 2010 I graduated from the University of Maryland and took a year off from training to focus on the establishment of my career as a software engineer.  During this time I added swimming to my work out routine.
</p>
<p class="text">
	I'm now back to training for competitions and eager to start triathlons.  Previously I had only trained for running and just "did" the biking at race time.  After struggling a few weeks through WsW, I found the collection of riders and stories to be a true inspiration.
</p>
<p class="text">
	When I'm not training I'm a technology geek, sports fan and action sports enthusiast (adrenaline junkie) always up to challenging myself with something new.
</p></div>