<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Courtney Long.jpg" /></div>
	<br />
	<p>
		<b>Courtney Long</b>
	</p>
	<p><b>Age - 27</b>
	</p>
	<p><b>What do you do for a living?</b> Speech Pathologist and Power Yoga Instructor
	</p>
	<p><b>What kind of racing or riding do you like to do?</b> I greatly enjoy distance running and have participated in marathons throughout the Maryland area.  I have recently begun dabbling in some beginner riding with my husband. I'm looking forward to fine tuning my skills! 
	</p>
	<p><b>Where is your favorite place to ride/race?</b> B & A Trail, BWI trial, Patapsco,and downtown Annapolis
	</p>
	<p><b>What is your favorite charity:</b> JDRF, Muscular Dystrophy Association, Compassion Int.
	</p>
	<p><b>Why are you joining the AFC Women's Team?</b>  To learn more about biking and to do so while simultaneously raising money and awareness for Diabetes.
	</p>
	<p><b>Do you have a riding goal, if so what is it?</b> I want to enjoy the learning process, the fitness challenges, the outdoors and camaraderie of such a fabulous organization. As a Type 1 diabetic myself, I am thrilled to participate with others promoting a healthy and complication free lifestyleJ
	</p>
</div>