<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Craig Daly.jpg"/>
</div>
<br/>
<p>
	Craig is an ex-mountain bike racer who dabbled with road racing. Missing the mud and missing competition he decided to pick it up again and at last he discovered his true biking passion "CYCLOCROSS." After riding unattached for the year he decided to join AFC. Why? because it's not just about riding and racing....it's about riding and racing for a cause.
</p></div>