<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Craig Steigerwalt_2_1174704508.jpg" style="width: 400px; height: 300px;" /></div>
<br />
<p class="text">
	Craig is proud to be a member of AFC for their strong dedication to the community and their love for raising awareness for charitable causes. Though most of Craig&#39;s free time is spent mountain biking, he also participates in triathlons, adventure races, and road races in the Mid-Atlantic region. He&#39;s extremely excited to be part of an organization that not only appreciates the sport of cycling but also strong focus on helping others live healthy lifestyles. Lives by the motto &quot;Get busy living - or get busy dying&quot;. Ride on.&nbsp;</p>
</div>