<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Dan Doggett.jpg"/>
</div>
<p>
I became interested in cycling in college mostly as a way to get around campus. After I graduated, I became more serious about my training and within a few years I had dropped forty pounds and completed three centuries. I recently moved to the Catonsville area and absolutely love the road riding and cycling community around here. I'm looking forward to getting faster and fitter and also hopefully doing some cyclocross and mountain biking this winter. 
</p>
