<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Eric Hansen.jpg" /></div>
<br />
CAT4 Road
<br/>
<br/>
<p> 
After many years of mountain biking, I got talked into doing an MS150 ride, instantly fell in love with road riding and went out and got myself a road rig. Did some road racing, but then decided to focus on the fun, camaraderie and health benefits of group training rides.  After tagging along with the AFC crew for some time and hearing about all the great work the team does for charitable causes, I wanted to join up. It's a great bunch of people who are passionate about their sports and I look forward to the many miles ahead.
</p>
</div>