<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Esther Schaftel.jpg"/>
</div>
<br/>
<ul>
    <li><strong>Age:</strong> 45</li>
    <li><strong>What do you do for a living?</strong> Nurse Practitioner</li>
    <li><strong>What kind of racing do you like to do?</strong> Road, Mountain Bike, Cyclocross, fixie riding</li>
    <li><strong>Where is your favorite place to ride?</strong> Patapsco, Blue Ridge Parkway, Loch Raven</li>
    <li><strong>What is your favorite Charity?</strong> ALS, Leukemia</li>
    <li><strong>Why are you joining  the AFC womens team?</strong> To help others by doing what I love to do....bike</li>
    <li><strong>Do you have a riding goal, If so what is it?</strong> Win the mid atlantic mountain bike series in endurance racing, finish Leadville in under 12 hours, Podium in my cross races.</li>
</ul></div>