<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Fran Interlandi.jpg"/>
</div>
<br/>
<p>
  I wasn't always into sports or athletics at all, in fact, deep down I'm a huge geek. I started training in 2008 for smaller running events like the Baltimore 10 miler and Survivor Harbor 7 in Baltimore. Shortly thereafter, I was in a sweet bike wreck and broke my collar bone and had to get some stitches in my head (yes, I was wearing a helmet). Maybe the accident knocked something loose, but I've been crazy about running, cycling, and swimming ever since. In the last two years, I've participated in several marathons, ultra-marathons, and triathlons. My favorite event to date is the JFK 50 in Boonsboro, MD. I've also been a very active member of the Ulman Cancer Fund's Team Fight for the last two seasons. I was introduced to AFC by a few friends when they invited me to ride WsW this past season; I had a blast every Wednesday despite the rain, heat, and grueling Illchester climbs. I'm looking forward to running and riding with the team in 2013!
</p></div>