<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Gabe Smith.jpg"/>
</div>
<br/>
<p>
  About me? I'm a Mechanical Engineer. I live in Ellicott City. I've ridden bikes all my life, but until 2007,  10 miles was a long MTB ride. Now it's a warm up. After I rode a  12hr Cranky Money duo and and a handful of series MTB races, a three man, two man and solo Baker's Dozen and I 100 miles in the 2009 SM100. My awesome mom is in the pic working an SM100 aid station. I got a road bike a few years ago to train for MTB. Last year I convinced my wife to move off Bonnie Branch to be close to trails in Patapsco. I've since discovered how great the road biking is around here and found WsW.
</p>
<p>
So why did I want to join AFC? Aside from the great people I've met so far,  I like that AFC rides for a reason bigger than advertising and ego. My uncle and cousin live with diabetes. My wife's uncle died in his 50's from diabetes and my late father passed, too young, at 62 and was pre-diabetic. I've ridden two 100K's and a 50K in the Maryland ADA Tour de Cure for the past 3 years. Through that, my wife and I have earned over $2K for the ADA. I look forward to raising that bar with AFC. 
</p></div>