<div class="cushycms"><div align="center" id="imageDiv"><img alt="" src="/img/members/George Uhl_5_3481071621.jpg" style="width: 300px; height: 200px;" /></div>

<div>CAT 3 Cyclocross</div>

<div>Prodigal Member of <a href="http://www.themorningride.com/">TMR</a></div>
&nbsp;

<p>George is a Masters 55+ Cat 3 cyclocross racer. George started cycling in 2006 after his doctor warned him about the dangers of living a sedentary lifestyle in middle age. An avid competive distance runner in the 1980&#39;s, George succumbed to injuries that forced him to retire from racing. Two decades and 50 pounds later he rediscovered that long lost feeling of satisfaction from a good aerobic workout after a bike ride with his wife on the BWI trail. He started riding on TheMorningRide and quickly became a regular on the group rides. It was only a matter of time before his competitive juices would reawaken and he would start racing bikes as well. He began cyclocross in the Fall of 2010.</p>

<p>George&#39;s wife is a Type I diabetic, his father was and is brother is a Type II so he has a personal stake in the mission to find a cure. He finds the dedication of the AFC community and their committment to help defeat diabetes inspiring and a source of hope that a cure will be found in his lifetime.</p>
</div>