<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/Greg Saylor_2_427631323.jpg" alt="" style="width: 288px; height: 190px;" /></div>
<br />
<div><br />
CAT 4 Cyclocross. Crewed for the AFC RAAM&nbsp;2008 and 2009 teams. Enjoys riding bikes that have only one gear, whether its in the mountains, on the road, or on the cross course. Joined AFC Racing Team to support friends (founders, etc.) and for the love of riding.</div>
<div>Member of <a href="http://www.themorningride.com" target="_blank">TMR</a></div></div>