<div class="cushycms"><div>
	<strong>May 2012:</strong></div>
<div align="center" id="imageDiv">
	<img src="/img/members/Greg Rittler.jpg" /></div>
<br />
<p class="text">
	My journey to a healthier life started when I had my gallbladder removed in 2010 and the doctor told me I needed to get in shape or I was going to have serious health issues. I weighed 260lbs, had high blood pressure, and had high cholesterol. I began the long but steady process of shedding pounds and getting my body moving. Today I weigh 185lbs (still trying to get lighter so I can climb faster).</p>
<p class="text">
	The first 12 months of getting in shape I was running &amp; playing ultimate frisbee 7 days a week. I ran my first marathon in October 2011 (The Baltimore Marathon) 2 days after my 40th birthday.</p>
<p class="text">
	In the fall of 2011 I began fooling around on a fixed gear bike and realized I loved riding. In January of 2012 I purchased my first road bike and started chasing some speedy riders that I met from the Bristol Road Cycling Club, an informal local group of riders near my home in Towson.</p>
<p class="text">
	I quickly became very addicted to riding. The local group was incredibly encouraging and I learned to appreciate how great our local cycling community is. They patiently waited for me at the top of climbs as I consistently brought up the rear. I&#39;ve been making steady progress ever since.</p>
<p class="text">
	One of the most encouraging riders and my informal coach has been AFC team member Alain Philippe. Alain and I met randomly on the road in January and recognized each others names from Strava. Alain been invaluable at helping a rookie cyclist learn the ropes and improve. When I realized I wanted to join a team AFC was an easy decision knowing about all the great things AFC does and what it stands for.</p>
<p class="text">
	On my todo list for 2012:<br />
	- Ride 7,000 miles<br />
	- National 1/2 Marathon (Completed March 2012)<br />
	- Skyline Drive Century (Completed May 2012)<br />
	- Garrett County Gran Fondo Diabolical Double<br />
	- Savageman 1/2 Ironman<br />
	- Baltimore Marathon<br />
	- Marine Corp Marathon<br />
	- Explore Mountain Bike &amp; Cyclocross Racing</p>
<p class="text">
	By day I am the CEO of Blue Ocean ideas, a full service creative marketing firm in Towson. I reside in Towson with my wife, Elise and 4 children: Caleb (19), Josh (16), Riley (13) &amp; Seth (10).</p>
</div>