<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Hannah Barger.jpg" /></div>
	<br />
	<p>
		Mountain Bike Racing - Sport (Cat 2)
	</p>
	<p>
		I have always loved bikes, but until 3 years ago when I discovered road biking (and shortly thereafter mountain biking), I didn't know the possibilities. I vividly remember my very first ride on my road bike.  I had so much fun that I literally starting shouting with delight. You might say I fell in love. Now I ride both road and mountain as much as I can.
	</p>
	</p>
		I am excited about AFC because it's a great opportunity to train with other cyclist, and because I would love to use cycling as a way to help others, rather than simply something fun for me. I'm looking forward to getting more involved.
		My cycling goals include trying road racing, doing a hundred mile mountain bike race, and perhaps moving up to the expert mountain bike class. Some day I'd love to ride the "Tour Divide" from Canada to Mexico and perhaps try to qualify for Race across America. We'll see...
	</p>
</div>