<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Herman Schumacher.jpg"/>
</div>
<p>
	I have been doing triathlons for the last 8 years and am looking for a change in scenery. Maybe my bike legs will get stronger by joining AFC?
</p>
<p>
	You will probably see me out there with Nathan during the CX races and maybe a TT or two next year. I have never tried any road races so maybe we can give that a shot as well.
</p>
<p>
	I look forward to join the team while at the same time doing something good for the community.
</p></div>