<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/James McAndrew.jpg" /></div>
<br />
<p class="text">
	I like that point.
</p>
<p class="text">
	That moment you face. In racing. In grueling training sessions. That point where you've pushed yourself to your physical limit. When your view fades to black. That point when the thought of giving up, throwing in the towel, and quitting tickles the mind. Temptation.
</p>
<p class="text">
	I like that point.
</p>
<p class="text">
	Because push a little harder. Dig a little deeper. Suffer a little longer. When you don't give up. You'll come out the other side. And you'll know what you're made of.
</p>
<p class="text">
A financial copywriter by trade, James (soon-to-be) a Cat4 (then 3... then 2... then 1) road cyclist knows more "excuses" to exercise and train than we care to bore you with.
</p>
<p class="text">
	Over the coming years, he plans on ditching the financial sector. And instead, sharing his knowledge and passion for physical activity in ads and PR campaigns across the country. His goal is simple. Inspire and motivate as many people as possible to get off their couches and get outside. Leave them with no excuses.
</p>
<p class="text">
	Believing we all need to practice what we preach, James thinks the goals and mission of AFC couldn't fit better. And he eagerly awaits dawning the AFC jersey for the 2012 season... and many more!
</p>
</div>