<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Jason Miller.jpg"/>
</div>
<br/>
<p class="text">
  Struggling to keep my weight below 200 lbs I ran recreationally for over 15 years without ever even knowing the world of road racing, triathlon, or category what? Then in 2009 I started taking spin classes at the local Y an got introduced to an amazing group of athletes many of which had been competing for over 2 decades. Encouraged by their experiences I registered for my 1st ever race and with only 8 weeks to train completed a marathon. I was hooked and from that moment forward was driven by training, competition, and the desire to improve. Since then I have lost over 35 lbs, learned how to swim, got clips for my bike, taken 1st in my age group multiple times, won a sprint triathlon, a half marathon, and in my 3 year of racing successfully competed in the elite category in duathlon. More than anything I have inspired friends and family that anything is possible...
</p>
<p class="text">
	Jason lives with his wife of 9 years, 16 year old son, 1 year old daughter, and bustard cat in Catonsville.
</p>
<p class="text">
	<a href="http://athlinks.com/racer/results/89458712" target="_blank">Athlinks profile</a>
</p></div>