<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Jason Routzahn.jpg"/>
</div>
<p>
	I have been seriously cycling for the past 5-6 years and can usually be found in Patapsco State Park on my mountain bike.  I am a member of MORE as well as IMBA and enjoy all aspects of bike riding and have recently begun putting extra miles on the road.
</p>
<p>
It's very nice to be in such a bike friendly community and have great access to some local parks and fantastic roads to enjoy.  Howard County is where I usually prefer to ride, especially when going out solo.  My wife and I recently had a beautiful baby girl on Sept 22nd 2013 and our days are filled with the joys of raising our little girl but we do enjoy every chance we can to get out on our bikes.
</p>
</div>
