<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Jason Ludicke.jpg"/>
	</div>
	<p>
		Sport level XC mountain bike racer
	</p>
	<p>
		Jason has been riding mountain and road for around 4 years and racing mountain for around 2 years.  Although mountain biking is his passion, he hopes to get into cross and road racing soon.  You can find him riding the trails at Patapsco as well as the Columbia Tri road course several times per week.  He is looking forward to helping with the AFC mission while improving his cycling skills.
	</p>
</div>