<div class="cushycms"><div id="imageDiv" align="center">
	<img src="img/members/Jennifer Blandford.jpg" id="teammateImg" align="center" alt="-Profile Picture Not Available-" /></div>
<br />
<div>
	XC Mountain Bike</div>
<div>
	CX<br />
	Triathlete</div>
<div>
	Runner<br />
	Member of <a href="http://www.themorningride.com" target="_blank">TMR</a><br />
	<br />
	In 1995, after moving to MD, I started riding/training with a good friend who use to road race.&nbsp; I did a couple bike tours (Cycle Across MD and Bike Virginia) then started racing mt. bikes.&nbsp;<br />
	Six months after my 4th child was born I decided to sign up for my first triathlon (2008 Columbia Tri) and was hooked.&nbsp; Since then I&#39;ve raced several sprint and Olympic distance tris along with an half Ironman as part of a relay team.&nbsp;&nbsp;&nbsp; My favorite racing is off road anything!<br />
	<br />
	Joining AFC has helped to give my dabbling into racing a purpose. Having had a father-in-law (type 2) and brother-in-law (type 1) suffer from diabetes and succumb to all it&#39;s complications I thought....&quot;I need to help with awareness of this disease.&quot;&nbsp; Adventures For the Cure helps my family and I give back to our community and add a little hope to the world. :)</div>
<p>
	&nbsp;</p>
</div>