<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Jerry Jackson.jpg" /></div>
<p>
	Cycling has been a big part of my life for as long as I can remember. From racing as a Junior in Mississippi in the 80s and riding RAGBRAI with my brother at 15, I developed a penchant for pushing my limits. Thirty years later, I was able to repeat RAGBRAI with my wife and 15-year-old son. Although I spend as much time riding road and bike commuting, my current focus is on endurance mountain biking events. 
</p>
<p>
	I like the idea of AFC adding purpose to my passion. 
</p>
</div>