<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Jill Marietta Mignacca_3_3440972774.jpg" style="width: 255px; height: 384px;" /></div>
<p>
	Ultramarathoner, triathlete-in-training!</p>
<ul>
	<li>
		<strong>Age:</strong> 35</li>
	<li>
		<strong>What do you do for a living?</strong> I am the Executive Assistant to the Executive Vice-President for Academic Affairs at Baker University.</li>
	<li>
		<strong>What kind of racing or riding do you like to do? </strong>I prefer middle and long distances, and run mainly in half-marathons. I have completed the Lincoln, NE and Richmond, VA marathons. I completed my first 50k in 2011.</li>
	<li>
		<strong>Where is your favorite place to run?</strong> The small-town and country roads of Kansas--as well as along Kansas&#39; numerous beautiful trails with my friends!</li>
	<li>
		<strong>What is your favorite charity? </strong>AFC and the [Topeka, Kan.] YWCA Center for Safety and Empowerment, and Washington, DC&#39;s House of Ruth.</li>
	<li>
		<strong>Why are you joining the AFC Women&#39;s Team?</strong> As I do more endurance events, AFC&#39;s motto, &quot;Anyth!ng is Possible&quot; increasingly resonates. The mission of AFC is very close to my heart: My aunt Janet died from Type I Diabetes back in the 1950s. And as an endurance athlete and personal trainer to-be, living a healthy and active lifestyle is of the utmost importance to me. I am really excited to raise awareness for diabetes and to promote the importance of living a healthy and active lifestyle while participating in endurance events!</li>
	<li>
		<strong>Do you have a running goal, if so what is it?</strong> I hope to complete my first sprint-distance triathlon in 2013, and a 50-miler in 2014, while raising awareness for AFC and Type 1 Diabetes.</li>
</ul>
</div>