<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Jim Gross.jpg"/>
</div>
<br/>
<p>
   I have been racing for almost 25 years now. I race everything from 1 mile running races to multi-day adventure races. Now that I am getting older I find myself slowing down on a daily basis, and that makes it tough to stay motivated. However, recently I have found a new sense of motivation to keep me racing. According to the North American Association of Central Cancer Registries and mortality data from the National Center for Health Statistics. A total of 1,638,910 new cancer cases and 577,190 deaths from cancer were projected to occur in the United States in 2012 alone. I lost both my parents to this disease, and chances are, someone that you know will be affected. So I decided to join this team because I believe in their cause, and I want to do whatever I can do to help fight this disease. So I am looking forward to seeing everyone out there making a difference. 
</p>
<p>
	"An obstacle in life is anything that you see or do when you take your eyes off of your goals!"
</p></div>