<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Jimmy Dodson.jpg"/>
</div>
<br/>
<p>
My path as a diabetic athlete began over 10 years ago when I was diagnosed in
October 1995. At the time I was a 19 year old college sophomore, playing
lacrosse, having grown up as a multi-sport athlete without any knowledge of diabetes. Given the change in circumstance, I had
to learn more about how my body worked in both daily & athletic endeavors. Early on, I stepped away from the traditional
team-oriented contact sports I had become so accustomed to. My budding interests initially involved extended backpacking,
rock & ice climbing, and mountaineering - an arena where managing type 1 present major challenges. As my experiences and
knowledge grew, so to did the challenges of the trips. In 2005, I became one of only 50 type 1's at the time with climbing
experience above 5000 meters (~17,000 feet) as I climbed on a remote mountain in Ecuador.
</p>
<p>
Major portions of my training regimes have always included cycling as well as running. In 2006 I joined Tony Cervati as a
member of the Type1Rider mountain team and entered my first mountain bike race, the Leadville Trail 100. My race ended
early with a mechanical failure, but this event solidified my love of the challenge that cycling events presented to me. I
continued with the T1R team through the 2009 season. As 2010 gets geared up I still find my burgeoning interests & list of
events continuing to grow. I am excited to see where the roads and trails will lead.
</p>
<p>
I grew up as "a runner" more or less as a bi-product of my other sports and activities. Prior to developing diabetes, the longest
event I completed was a 15K in 1:11:06. After being diagnosed, it was a natural tendency for me to migrate back to running in
some aspect. Initially I gravitated towards 5K-15K events, but with my endurance interests I delved into half-marathons in
2002. By the close of 2009 I'd run multiple half's and one full marathon. In Jan 2010 I decided to take it up a notch and test a
new limit, the Goofy's Race and a Half Challenge in Orlando, FL - a half-marathon on Saturday followed by a full marathon
on Sunday for a weekend total of 39.3 miles. Completion of this was not just a fabulous way to begin the year, it will also
stand as one of my all-time favorites.
</p>
<p>
It's pretty evident that I find joy by challenging myself in all of these endeavors. Iit is very rewarding to help others learn and
explore their own realms of possibility. Each of us has strengths and weaknesses. We all have days that are good and bad. I
personally am not the strongest climber, best rider, or fastest runner. But, my goals are to learn and grow from the experiences
and share the lessons and experiences with others... of course one never complains about a successful climb, top finish in a
race, or faster run. The outreach events that I participate in with DESA, JDRF, Children with Diabetes, and ADA grant me
tremendous opportunities to work with other type 1's, their friends, & families. Working with them each year continues to
keep me inspired and motivated because managing diabetes is very similar to an endurance event... sometimes it's easy,
sometimes it's difficult, but we must always strive to put forth the best effort we can muster and refuse to listen to those that
believe that having diabetes is a limiting factor. It's not limiting, it's just an additional hurdle or detail that must be included in
everyone's skill set. Everyone is an athlete in some form, and we are all capable of more than we believe.
</p>

</div>