<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/John Starr.jpg" /></div>
<br />
<p>
	Since getting my first Schwinn Sting Ray when I was 7, I was hooked on bikes and never looked back. Biking has connected me to a healthful  lifestyle and a fantastic community of people who have become some of my  closest friends. 
</p>
<p>
	I love all types of riding, but my passion is mtn biking. I have been mtn biking for the last 20 years and racing part time for almost as long. Recently, I have started to enjoy riding greater distances and look forward to completing more endurance events with AFC this year.
</p>
</div>