<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/John Stavlas.jpg"/></div>
<br />
<div class="text">
	John is a new member for 2012.  He is passionate about biking and enjoys riding with friends and participating in group rides.  BMX at an early age naturally led to mtn biking and, later, road riding.  John has been riding consistently following hip dislocation and resurfacing surgeries.  He plans on racing cross-country this coming season.  John looks forward to being a part of AFC.  
</div>