<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="/img/members/John Blair.jpg"/>
	</div>
	<br/>
	<p class="text">
		I have started cycling only recently and competed in my first triathlon in August. I am looking to live a healthier lifestyle and continue to grow as a cyclist. I am excited about spreading the AFC message through cycling and its charity events. My goal for this up coming year is to move from completing to competing. Hope I can keep up, and see you all out on the road!
	</p>
</div>
