<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/John Nagy.jpg"/></div>
<br />
<div>CAT 4 Cyclocross</div>
<div>CAT 5 Road (likely 2011)</div>
<div>Member of <a href="http://www.themorningride.com/">TMR</a></div>
<div>Age: 39</div>
<div>Occupation: Aerospace Engineer (yes, I really get to say "I'm a rocket scientist"!)</div>
<br/>
<br/>
<p>My name is John Nagy and, as a new member, I would like to introduce myself.</p>
<p>I have been seriously riding road bikes, mostly solo, for 5 years.  In the fall 2010, while out riding, I literally crossed paths with TMR.  I started riding with them later that week and quickly began to enjoy the group ride atmosphere.  Getting up at 5AM when it's cold and dark to ride is easier when there are others who love to ride willing to make the same sacrifices.</p>
<p>Many of the TMR group have been racing cyclocross for a couple years and Tuesday I'd hear the stories of their weekend exploits on the dirt.  I brought the kids out to Charm City and really liked what I saw.  In October 2010 I decided to dive in and try cyclocross and like most say I was hooked 100%.</p>
<p>Several members of AFC seemed to have adopted me and the family camaraderie is great.  In choosing a team I didn't think of looking anywhere other than Adventures for the Cure.  The cause also hits close to home with diabetes running in my father's side of the family.  I hope to participate/volunteer and do whatever I can to make each AFC event a success.</p>

