<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/John Pitas.jpg" /></div>
<br />
<p>
	I have been a lifelong athlete, who took up competitive cycling in
January after commuting by bike for several years. I started with road
biking, and have since picked up mountain biking as well. I enjoy
being able to push myself to get better on the bike, and am constantly
looking for ways to improve. I am looking forward to getting faster
and riding further.
</p>
<p>
I first learned of Adventures for the Cure through the Hub and at the
Westside Worlds group ride. What I've found is that AFC is a great
club with lots of talented riders, who are also passionate about
helping out others and making a difference. I am hoping to push my own
limits through AFC, and help promote the team and their message by
doing what I can to help out.
</p>
</div>