<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/John Boyer.jpg"/>
</div>
<p>
	What started as an early mid-life crisis has now become a passion for me. My inability to say no to challenges from my friends has led me to 
	participate in running, road biking, mountain biking and triathlons. I was diagnosed as a type 1 diabetic at 30 and have been determined to 
	use it as an example of how to overcome adversity for my kids and anyone else willing to pay attention. My secret identity has been a marketing 
	and publishing executive for the last 20 years, but as soon as people realize I am faking it, I will join the circus. 	
</p>
</div>