<div class="cushycms"><p style="text-align: center;">
	&nbsp;</p>
<p style="text-align: center;">
	&nbsp;</p>
<p style="text-align: center;">
	<img src="/img/members/Sugar Hill 2011.web.jpg" alt="" style="width: 390px; height: 336px;" /></p>
<p style="text-align: center;">
	XC: Cat 1/Single Speed<br />
	CX: Cat 2/Elite Masters<br />
	Jon loves racing bikes; a pastime that has become even more fulfilling&nbsp;<br />
	since becoming&nbsp;involved with AFC and their many&nbsp;amazing causes.&nbsp;<br />
	It pains him to post pictures of&nbsp;himself and write blurbs in the third-person,<br />
	but...anything for AFC.<br />
	<br />
	&nbsp;</p>
</div>