<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Joseph Bank.jpg"/>
</div>
<br/>
<p>
  I enjoy doing triathlon's.  Except that I don't run.  Seems kinda weird, but
I've been doing it for a few years now.  I guess that requires some explanation.
I had back surgery for the first time when I was about 21 after spending a good
part of a year with debilitating pain (sciatica, etc).  A few years later I had to
have the same surgery revised after more months of debilitating pain.  At that
point my doctor strongly suggested giving up sports that put a lot of impact on
your back.  In other words no running.  But I could bike and swim, so I did
that for fun.  Over ten years later, some friends of mine stayed at our house to do the
Columbia triathlon.  They were doing it as a relay.  I thought really, you can
do that.  I swim and bike the distance they were doing regularly, it would be
fun to do.  So I signed up for Columbia with my sister as my pinch runner
and had a good time.  That was quite a few years back and quite
a few kids less.  Since then I've done a couple a year (with a few years off
when we had a higher baby load).  I got a bit more serious about my training
in 2011 and 2012, competed in various triathlons as a relay or aquavelo 
and added a few single sport races to my calendar in 2012 including an open 
water swim, a local criterium and a few time trials.  I enjoy some of the nerdy
aspects of racing, including attempting to optimize aerodynamics and using a
power meter to plan my training.
</p>
<p>
I first met some AFC team members indirectly on Strava, where I noticed them taking 
KOMs on the Columbia triathlon course and we started "following" each other, leading
me to discover some great new routes.  This slowly led to being introduced to TMR
in the early summer after seeing someone post a Strava ride titled "TMR" and looking that up. 
Through TMR, I've met and enjoyed interacting with even more AFC members and have had
a uniformly positive experience (including being rescued on the side of the road with a
flat by one).  In 2013, I'm looking forward to continuing doing my version of triathlon, as
well as adding some additional single sport bike races to my calendar.
</p></div>