<div class="cushycms">
<div align="center" id="imageDiv">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Kari Lindemann.jpg" /></div>
<br />
Triathlete<br />
Cyclocross<br />
<ul>
	<li>
		<strong>Age</strong> - 29</li>
	<li>
		<strong>What do you do for a living?</strong> Work in marketing and global strategy for an international manufacturing company</li>
	<li>
		<strong>What kind of racing or riding do you like to do?</strong> Mostly triathlons and I long road rides. I tried and loved cyclocross a few years ago and would love to get into it again next fall.&nbsp;</li>
	<li>
		<strong>Where is your favorite place to ride?</strong> Baltimore County/Patapsco and up through Hunt Valley.</li>
	<li>
		<strong>What is your favorite charity? </strong>&nbsp;Back on My Feet and The American Diabetes Association</li>
	<li>
		<strong>Why are you joining the AFC Women&#39;s Team?</strong> To ride with other great female cyclists in the Baltimore area while also being able to give back to important charities.</li>
	<li>
		<strong>Do you have a riding goal, if so what is it? </strong>I&#39;m working on getting a better Half Ironman PR and will be competing in the Raleigh 70.3 event in June. I&#39;m also looking forward to getting back into cyclocross next fall.&nbsp;</li>
</ul>
</div>