<div class="cushycms"><p style="text-align: center;">
	<img alt="" height="340" src="/img/members/Ken Lohr.jpg" width="226" /></p>
<p>
	Ken is most often found in the woods of Patapsco on his rigid single speed, but also enjoys long road rides and mixed-surface rides and loves a good adventure ride.  He proudest recent accomplishment is finishing the 2012 SM100 despite rain and miles and miles of mud.  He also works closely with MORE-MTB.org in maintaining and building local trails.  Ken is looking forward to competing in the occasional race and helping spread the positive message of AFC.
</p>
</div>