<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="Lance Byrd at 2011 Rockburn Cyclocross" src="https://lh6.googleusercontent.com/-wVPpJWgI8uo/AAAAAAAAAAI/AAAAAAAAXoQ/58c3PFTgUWw/s250-c-k/photo.jpg" style="width: 250px; height: 250px;" /></div>
<p>
	The Byrd family is uber fond of <a href="http://kupenda.org">Kupenda</a> and wants the disabled children in Kenya to succeed beyond all of our wildest dreams.<br />
	Lance loves racing dirt; ultracross, mountain biking and cyclocross!<br />
	In 2012 he took to the ultracross racing scene including Hilly Billy Roubaix and Iron Cross. &nbsp;He also completed his first NUE 100 miler at Shenandoah 100, on the single speed!<br />
	2013 will be some serious off-road endurance racing including more ultracross, and more mountain biking.<br />
	Checkout his blog at&nbsp;<a href="http://lancefun.blogspot.com">http://lancefun.blogspot.com</a></p>
</div>