<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Lauren Blair_3_762787055.jpg" style="width: 374px; height: 280px;" /></div>
<br />
<ul>
	<li>
		<strong>Age - 30</strong></li>
	<li>
		<strong>What do you do for a living?</strong> writer</li>
	<li>
		<strong>What kind of racing or riding do you like to do?</strong> Beginner riding--especially rides with Pat on the tandem!</li>
	<li>
		<strong>Where is your favorite place to ride?</strong>&nbsp;Ellicott City</li>
	<li>
		<strong>What is your favorite charity?</strong> <a href="http://kupenda.org">Kupenda for the Children</a>, AFC</li>
	<li>
		<strong>Why are you joining the AFC Women&#39;s Team? </strong>To learn about riding and contribute to all the good work AFC is doing!</li>
	<li>
		<strong>Do you have a riding goal, if so what is it? </strong>To be healthy and enjoy the outdoors</li>
</ul>
</div>