<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="/img/members/Leesa Tarter.jpg"/>
	</div>
	<br/>
	<p class="text">
		 I am married to Paul Tarter, who is already a member of AFC, and it is through him and his relationship to 
		 the team that I have learned about and become interested. I love to read and spend time with my dogs, Ginny 
		 and Gandalf. I enjoy yoga and dance. I don't bike or run very much, but I am trying to strengthen my 
		 skills in both. I am hoping to start racing competively, either this year or next year, and something that 
		 has recently made its way onto my bucket list is to start sled racing. But the real driving force for why 
		 I want to join AFC is because I love the fact that its not just about training better or harder or faster, 
		 or beating the other guy to the finish, or even making it to the podium or finish line at all, even though 
		 most of those are all good things and are things everyone should strive to better themselves in. Its about 
		 helping people, about caring more for the other guy than for yourself. Its about inspiring other people to 
		 become better, to help more, to care more, than just about themselves or their small piece of the pie.
	</p>
</div>
