<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Lisa Hardy.jpg"/>
</div>
<br/>
<div>CAT4 Road</div>
<div>CAT4 Cyclocross</div>
<ul>
    <li><strong>Age -</strong> I was born in 1981</li>
    <li><strong>What do you do for a living? </strong>Software Engineer</li>
    <li><strong>What kind of racing or riding do you like to do? </strong>Centuries, recreation, and racing, triathlons</li>
    <li><strong>Where is your favorite place to ride? </strong>The beach</li>
    <li><strong>What is your favorite charity?</strong> ASPCA</li>
    <li><strong>Why are you joining the AFC Women's Team?</strong> To make a difference</li>
    <li><strong>Do you have a riding goal, if so what is it?</strong> Compete in more races and get faster.</li>
</ul></div>