<div class="cushycms"><div id="imageDiv" align="center">
	<a href="[IMG]http://i146.photobucket.com/albums/r245/madiwest/166593_1697317883204_1545582661_31679046_3342331_n.jpg[/IMG]"><img src="/img/members/Madi West_4_1552547846.jpg" id="teammateImg" align="center" alt="" /></a></div>
<br />
<p>
	Time Trialist<br />
	CX<br />
	&nbsp;</p>
<ul>
	<li>
		<strong>Age:</strong> 44</li>
	<li>
		<strong>What kind of racing or riding do you like to do?&nbsp;</strong> Road, TT&#39;s, mountain and CX</li>
	<li>
		<strong>Where is your favorite place to ride?</strong> Anywhere I can take my bikes</li>
	<li>
		<strong>What is your favorite charity? </strong>AFC, Kupenda, and Good Samaritan Orphanage in Tanzania</li>
	<li>
		<strong>Why are you joining the AFC Women&#39;s Team?</strong> I love cycling and living a healthy lifestyle and want to pass that onto my kids and the fact that we can do that and support AFC and help change the world is an incredible opportunity.</li>
	<li>
		<strong>Do you have a riding goal, if so what is it?</strong> Improving my TT times and racing with the 1,2,3 women in CX</li>
</ul>
</div>