<div class="cushycms">
	<div align="center" id="imageDiv">
		<img src="/img/members/Martin Leska.png" />
	</div>
	<p>
		I was born into very athletic family in Czech Republic. Came to US as certified mountain guide and sponsored climber. Mountain biking is new sport for me. In the past biking was transportation device from place A to place B.
		I love being pushed and learn new things from experienced riders. I had meet only handful of people in AFC group so far, but they are examples of great sportsmanship and love for sport.
		I had Signed myself for few long races as way for me to set a difficult goal and pushing true fish line as main goal.
		Im most excited to join this group for the cause. My older brother is diabetic for over 30 years. He got diagnosed with childhood diabetes and had being fighting major battle with this demon.
		To join this group, participate in ass kicking rides, learn about this sport and raise money for great cause is total win.
	</p>
</div>