<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Matthew OByrne_2_2848550780.JPG" style="width: 200px; height: 300px" /></div>
<br />
<div class="text">
	Mountain Bike (Sport)</div>
<div class="text">
	Cyclocross (Masters 3/4)</div>
<p class="text">
	<b>Why&nbsp;join&nbsp;AFC?</b><br />
	Any charity that supports helping kids is a fantastic cause and&nbsp;AFC&#39;s&nbsp;primary focus is very special. Combining my passion for bike racing with supporting&nbsp;AFC events was a no brainer.</p>
<p class="text">
	<b>Goals</b><br />
	To take&nbsp;a&nbsp;more active role in supporting AFC fundraising events by:</p>
<ul>
	<li class="text">
		Volunteerting to be the co-director for the&nbsp;2013 Sugar Hill MTB Race</li>
	<li class="text">
		Taking a lead role with&nbsp;the&nbsp;data&nbsp;&amp; results function at AFC sponsored races</li>
</ul>
</div>