<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Matt Buckleman.jpg"/>
</div>
<br/>
<p>
	Cat 5 Road
	<br/>
	Cat 3 Cross
</p>
<p>
	2012 was my first season really racing.   I did a handful of road races and planned on trying "1 or 2" cyclocross races that Fall.   I started out at Tachino CX and upon finishing I immediately thought 2 things:  1) That was the hardest thing I've ever done.   2) When can I do it again.   I ended up racing 12 or so cross races that Fall and became totally hooked.   I was pleasantly surprised when by the end of the season I was doing well enough to podium and even win a race.   I was able to upgrade to Cat 3 towards the end of the season and I look forward to the challenge that presents in 2013.
</p></div>