<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Matt Spence.jpg" /></div>
<br />
<p>
	I'm 32 years old and a lifelong Catonsville resident.  I've been married to my wife, Amy, for six years and have a 3-year-old son named Vincent.  I attended Mount Saint Joseph high school and Frostburg State University.  I'm a Sales Engineer for a metal stamping company in Baltimore that makes precision parts for aerospace and defense companies.  I've played competitive amateur golf for the majority of my life, but have recently decide to put that aside to pursue mountain biking and possibly some cyclocross racing.  I love sports and the outdoors.  I look forward to meeting avid cyclists through AFC, helping to support the great charities with whom they're affiliated, and having a great time riding!
</p>
</div>