<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Matt Calloway.jpg" /></div>
<br />
	<p>
		I was born and raised in southern Louisiana and 5 years ago migrated to Maryland with my lovely wife. Despite missing the food and southern hospitality, I really do love Maryland (especially Catonsville.) After having my weight balloon and my health suffer I finally decided to do something about it and joined the YMCA.  It wasn't long until my new addiction was fitness. I then met a fellow AFC member, Jason Miller, who sold me a beautiful old road bike and thus everything began.  I absolutely live to cycle, it's the first thing I think of when I get out of the bed on the weekend. Now I've learned to swim and have been working on my running.  I'm registered for my first triathlon and sure I'll be absolutely hooked after it!  I wanted to join AFC to meet like minded individuals who I could learn from and grow with and the charity aspect is amazing! It's truly awesome when you have this many people racing and raising money for so many different charities. 
	</p>
	<p>
	My main ride is a Cannondale CAAD 10 purchased from the guys at the <a href="http://www.cvillebikes.com/" target="_blank">Hub in Catonsville</a>. Next up is a 29er Mountain bike.  If I'm not on the bike, you may see me cruising around on my longboard or hiking with my wife and dog in Patapsco. 
	</p>
</div>