<div class="cushycms"><div id="imageDiv" align="center">
  <img src="/img/members/Matt Cooper.jpg"/></div>
<br />
<p>
  Matt has been a life-long mountain biker and decided to join the AFC team in 2011 
  after picking up a road bike the previous season, realizing just how addicting the 
  thrill of the road can be.  He enjoys the challenge of pushing himself to his limits 
  and hopes to become competitive as he progresses in the sport.  Matt also enjoys rock 
  climbing and teaching his two young daughters the enjoyment of the outdoors.  Matt 
  is excited about being a part of a team and looks forward to learning from experienced 
  and established riders.
</p></div>