<div class="cushycms"><div align="center" id="imageDiv">
	&nbsp;</div>
<p style="text-align: center; ">
	<img alt="" src="/img/members/Matt Lear_11_1507021739.jpg" style="width: 362px; height: 362px; " /><br />
	<br />
	Cat 2 mountain<br />
	Cat 3 cyclocross<br />
	Cat 4 road</p>
<p style="text-align: center; ">
	<a href="http://www.usacycling.org/results/index.php?compid=329138&amp;all=1">Race Stats</a></p>
<p style="text-align: justify; ">
	I have been mountain biking since grad school many years ago. I recently started road and cyclocross racing and love both. I also love being part of AFC and helping with the great things that we do.</p>
<p style="text-align: center; ">
	<br />
	&nbsp;</p>
</div>