<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Michael Vahlsing.jpg"/>
</div>
<br/>
<p>
  Christian, Husband, Father, Son, Brother, Dog Owner, Biker and I work! That's me for the ADD - in order
of priorities.
</p>
<p>
I was a national level swimmer and competed through college and beyond. Got into some open ocean
swims while living in Hawai'i. Loved it until I fell ill with pneumonia in 2009 which, in turn attacked the
nerves that make my shoulder work. Now, it doesn't work so well. When this happened I had to find
another outlet for a highly competitive and active personality, and biking was a natural fit.
</p>
<p>
While living in Redmond, WA ('09 - '11) and biking a few times a week I met a team rider from Garmin
by the name of Tom Peterson. Tom was the one who got me on my first Road Bike at the age 38, and
within four months I had done my fist race - The Tour De Dung. Yup.
</p>
<p>
First keep coming - just competed in my first cyclocross race at Rockburn Cross with The Hub - think I
liked it the first race. 2 Races in one day - not so much fun.
</p>
<p>
Currently I am working with Scott Westcoat and Chris Adair at The Hub Bike Shop in Catonsville and
holding down my own business designing, building, maintaining and marketing Web Sites for small
businesses while balancing in a Home, 2 wonderful kids and truly the best Wife in the World.
</p>
<p>
I have been but working out with AFC members for months at Westside Worlds, TMR and The Hub-A-
Round rides. It seems only natural to be a part of a fantastic organization like AFC that puts individual
accomplishment to better use. Especially because my individual accomplishments have totaled me a
whopping $12 in cash and on bag of swag, so - helping out with causes bigger than the individual makes
the world a little more tolerable.
</p>
<p>
Looking forward to helping out where I can, and I'll see you at The Hub and C'Ville Bikes as well as on the
road (and trails??)!
</p>
<p>
MV
</p></div>