<div class="cushycms">
	<div align="center" id="imageDiv">
		<img src="/img/members/michael Shindle.jpg" />
	</div>
	<br />
	<p>
		I started biking throughout my younger years and with college and then five years in the military, time to ride dwindled.  I spent five years in the military, with at least two years deployed to various overseas locations to include Afghanistan for 14 months.  Now that I'm out of the military, I work for a software development company providing the digital strategy, design, and vision for our software.  I spend most of my time in college taking classes as I am finishing up my second bachelor's degree within a year and just received my first bachelors last year.  That and my son, girlfriend and her son keep me busy along with church and an active social life.
		I recently picked up a road bike and have loved the transition to the road.  It's been nice to not have to have a rifle attached to me while riding now that I'm out of the military.
	</p>
	<p>
		While I was out riding I met a couple of the riders for AFC and later found out that someone from the church that I go to co-founded the organization.  My history is laced with health issues to include mild PTSD for myself from the deployments.  With a strong passion for those deployed and in the service, I want to make my rides dedicated to the wounded warriors.  Another reason this bike team means so much to me is that my dad has leukemia and fights with the effects every day.  I dedicate my rides to him in hoping to find a cure for Chronic Lymphocytic Leukemia (CLL).  I know that's not the focus for the team, but those are my two passions for charity.
	</p>
</div>