<div class="cushycms">
	<div align="center" id="imageDiv">
		<img src="img/members/Mike Rackers.jpg" />
	</div>
	<p>
		I grew up in Maryland as a kid building and riding BMX trails in the woods behind our neighborhood. Later I then found the love of mountain biking in Patapsco in the early 90's. After a few years a busy career, young kids and other interest kept me off my bike until 2010 when I started mountain biking again for exercise. I found the enjoyment of biking better than I remembered and have been riding at every opportunity since.
	</p>
	<p>
		I enjoy the challenge of riding as much as time allows with goals of continuing to improve my skill and fitness. Within the last 2 years I started riding a handful of events including The Patapsco 33 miler and this year have started to ride in the occasional race mostly for training and to challenge myself to see how I compare to other more advanced riders. This has motivated me to train harder and set higher goals.  Now I can be found riding both trails or on the road (whichever time and the weather permits) preferably with other people to enjoy their company and make new friends but often ride whenever I can.
	</p>
	<p>
		As a member of AFC I look forward to  continuing to enjoy my passion for cycling, train harder while making new friends and contributing to a good cause of helping people with a life altering illness.
	</p>
	<p>
		My riding goals for this year are to complete the Patapsco 66 miler, The Patapsco Epic and a 100 mile mtb race (if not this year definitely in 2015)
	</p>
	<p>
		Looking forward to many long rides and training with  great people.
	</p>
</div>