<div class="cushycms"><div id="imageDiv" style="text-align: center;">
	<img src="/img/members/Mike Caputi_6_1393023803.jpg" /></div>
<div style="text-align: center;">
	<br />
	Treasurer / Technical Director of AFC<br />
	CAT 5 Road Racing</div>
<div style="text-align: center;">
	CAT 3 Cyclocross<br />
	Sport Mountain Biker</div>
<div style="text-align: center;">
	Member of <a href="http://www.themorningride.com/">TMR</a></div>
<div style="text-align: center;">
	<a href="http://www.usacycling.org/results/index.php?compid=261304" target="_blank">Race Stats</a><br />
	<br />
	Mike - aka weezal - is currently training for the upcoming cyclocross season.&nbsp; He joined AFC in 2007 when they officially became a non-profit, helping with finances and offering AV/technical support.</div>
</div>