<div class="cushycms"><div id="imageDiv" align="center">
	<img src="/img/members/Mike West_7_53550385.jpg" alt="" style="width: 400px; height: 589px; " /></div>
<br />
<div>
	I enjoy both CX and MTB races. I joined AFC, because I think we are all here for a purpose - something that can be hard to remember in the midst of the daily grind. The way I see it, if AFC can support some great causes by riding bikes, anything really is possible!<br />
	<br />
	Masters 3 Cyclocross</div>
<div>
	Mountain Bike (Sport)</div>
<div>
	Member of <a href="http://www.themorningride.com/">TMR</a></div>
</div>