<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Oscar Llorin.jpg" /></div>
	<br />
	<p>
		I am a a proud father of three who took up bike racing, in part, because I was tired of my wonderful wife, and then my teenage daughter, regularly beating me in running races.  So, after riding in a few centuries, then joining local group rides like The Morning Ride (TMR) and competing in MTB races (many of them AFC sponsored events), I learned the simple truth that John F. Kennedy once spoke of:  "Nothing compares to the simple pleasure of riding a bike."  For me, that is especially true if it involves riding up a steep climb.  While biking over the years with AFC team members, I began to learn more about the causes AFC supports.  Now, I want to take a more active role in helping children in need while participating in life's simplest pleasure.  Time to give . . . and have fun doing so.
	</p>
</div>