<div class="cushycms"><p style="text-align: center;">
	<img alt="" height="340" src="/img/members/Pam Field.jpg" width="226" /></p>
<p>
	Most of my life has been spent in some high quality H20.  For many years I found swimming to be a great escape from the stress and frustrations of life.  I was a swim coach for some small club teams in Pennsylvania where I was born and raised. I also volunteered as an instructor for the American Red Cross for many years.  After a rotator cuff reconstruction swimming became more of a challenge so I explored some other options.   I re-discovered my passion for skiing and became a children's ski instructor to share my love of the sport to the next generation.  Sadly the snow and mountains were given up when I relocated with my husband for work. Lately I try to ride and run as much as I can although it is more for recreation and to keep a healthy active lifestyle. 
</p>
<p>
The reason why I am excited to become a member of AFC is because of the amazing mission and the amazing people that are apart of it. Personally living with a thyroid condition I find it important to raise awareness for thyroid disease.   Also after recently losing my grandmother to a long struggle with heart disease I find that to be a very strong motivator to get and stay healthy.
</p>
</div>