<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Paolo Mari.jpg" /></div>
<br />
<p>
	I was born 41 years ago in Italy, and Cycling has always been in my house. My dad was a racer for an Italian team and consider how big he was and all the cigarettes he smoked he was pretty strong.
</p>
<p> 
I moved in USA in 2003 to marry my wife Jennifer and from that day I have always followed her in her career. We got married in Alabama in 2004, then move to Seattle in 2006 then move again here in 2010.  I have done lots of job. In Italy I was on the fashion industry where I met my wife. Once I moved in USA I did everything: Landscape boy, Gelato chef, video game tester and Maintenance guy etc etc.
</p>
<p> 
In 2008 my son Dante was born and my life change completely. I had finally an answer to the question "why am I in this planet?".  When we moved here in 2010, we decided that I would be home with him, considering that my wife was traveling 3 weeks a month. I then became a Full Time Dad: most busy job ever with the worst pay and no time off. Ahhahaha I have been doing this till present and I am loving it.
 </p>
<p>
In this period of my life the only thing that has not changed is me and the going out with my bike, something that I just need to do, and I bet all of you understand this, and this is why I want to be part of this group.
 </p>
<p>
I sent you a picture with me and my family, because cycling is important for me, but nothing is as important as my family.
</p>
</div>