<div class="cushycms"><div align="center" id="imageDiv"><img alt="" src="/img/members/Patrick Blair_9_1107502527.jpg" style="width: 400px; height: 267px;" /></div>

<div style="text-align: center; ">&nbsp;</div>

<div>Co-founder and Vice President of AFC</div>

<div>CAT 1 Cyclocross / Single Speed</div>

<div><a href="http://nuemtb.com/" target="_blank">NUE</a> Single Speed Racer<br />
Member of <a href="http://www.themorningride.com/" target="_blank">TMR</a><br />
<a href="http://pblair12.blogspot.com/" target="_blank">Cycling Blog</a></div>

<div><br />
My current focus is the <a href="http://nuemtb.com/">National Ultra Endurance</a> race series, the <a href="http://www.ultracx.com/">American Ultra Cross</a>&nbsp;series, and Stoopid50 for 2013! &nbsp;Can&#39;t wait!<br />
&nbsp;</div>
</div>