<div class="cushycms"><div align="center" id="imageDiv">
	<img align="middle" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Paul Tarter.jpg" /></div>
<br />
<p>
	My name is Paul Tarter; I have a lovely wife Leesa, a pit bull, a husky, and two cats. I am an active member of my faith, The Church of Jesus Christ of Latter Day Saints. I enjoy helping people. I come from a background of enjoying sports. From an early age I tried out many of the &quot;ball&quot; sports, and never really found one to my fancy. I always had my mode of transportation, my bicycle and of course, my two feet.</p>
<p>
	A friend of mine at work introduced me to XTERRA triathlons which I competed heavily in for two years before shoulder problems became a woe of mine taking me away for the tri sports. During my XTERRA time I was on the podium many times, second in the region, qualified and competed at Nationals twice.</p>
<p>
	When I came out of tri sports, I thought I was going to have shoulder surgery and was preparing for a season of no racing. I ended up not having shoulder surgery and instead launched into my endurance mountain biking debut. In 2012 I raced my first 100 mile MTB race, Wilderness 101 and then followed it up with a sub 10 hour SM100 at what might have been the muddiest on record. I raced an 18 hour race as well, finishing 5th place.</p>
<p>
	This last year I was riding to work and I was taking my roundabout way, which took me down Oella. I saw this huge group climbing Oella and all I could think is, these guys are going the wrong way. Well a little later in my ride I was coming down Montgomery and saw this same group. Over the next couple weeks I saw this group a couple more times. I soon after learned about TMR which lead me to learning about AFC.</p>
<p>
	A friend of mine and AFC member told me, When he joined he said he noticed how nice everyone was, he said he hadn&#39;t seen so many good people in a sports group like this before. He said that when he joined he worried that he wasn&#39;t nice enough and that now, AFC has made him a better person. Hearing something like that really made me want to be a member too.<br />
	<br />
	I look forward to racing some endurance mountain biking in 2013, to hopefully include my first 24 hour solo race!</p>
</div>