<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Philip Rupp.jpg"/>
</div>
<br/>
<p class="text">
	Phil began running in 2001 when his Aunts and Uncles challenged him to do a half marathon that they do every year.  With doing little training he limped across the finish line at around 2:20.  From that point on he was hooked to improve his time and register for more races.  Since that painful half marathon he has competed in more than 75 races with 13 being marathons.  Phil has a couple running goals that he wants to accomplish with the biggest qualifying for the Boston Marathon and a life time goal of running a marathon in every state.  By the end of 2012 Phil will have 10 states down.  In November, he will be taking on another challenge by competing in the JFK 50.  Before training for this race he has never ran more the 26.2 miles at one time.
</p>
<p class="text">
	In 2007 Phil decided to expand his racing to triathlons.  He got a good deal on a used road bike and after a couple falls when learning to clip in began loving riding his bike.  Since 2007 Phil has gotten more serious about riding and got a new road bike.  He has competed in all distances of triathlons even completing his first Ironman in 12:43:26 in Lake Placid in 2011.  Even though he promised his wife he was a one and done Ironman, he is planning on doing another Ironman in 2014. 
	Phil wanted to join AFC to improve his bike time, meet new people, and help support a great local charity.  He loves the idea of being able to do something he loves and giving back at the same time.
</p>
<p class="text">
	Phil lives with his wife Beth of 5 years, his son Owen who was born August 3, 2012, and Boston Terrier named Jack Bauer in Halethorpe.
</p>
</div>