<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Ray Lake.jpg"/>
</div>
<br/>
	<div>Member of <a href='http://www.themorningride.com' target='_blank'>TMR</a></div>
  <p>
  Ray has participated in numerous running events, triathlons and duathlons. With knee surgeries in 2006
  and 2010, Ray bought a road bike in 2009 and has become an avid cyclist. He has completed the Seagull
  (2009) and Civil War (2010) Centuries. He enjoys the camaraderie of participating in TMR and BDR
  rides. Last year as the cyclist in a co-ed relay in the Columbia Triathlon, he set a PR for the bike course
  and his relay team placed second in that division. Ray is planning to do more running races, triathlon
  relays , another century and perhaps a cyclocross race in 2011.
  </p>
  <p>
  He wants to spread the word about a relatively unknown condition he has called blepharospasm which
  manifested in 2007. This is where the ocular muscles spasm at the slightest irritant such as wind,
  sun, cold and dryness. Ray has adapted to the condition by wearing special cycling glasses with foam
  inserts around the lenses. Presently, there is no cure for blepharospasm but there are symptomatic
  treatments.
  </p>
  <p>
  Ray is a pharmacy administrator for a large hospital system by day and has two children, Carla (21) and
  Michael (16). He firmly believes in AFC’s inspired mission and in setting an example by helping others.
  </p>
</div>