<div class="cushycms"><div style="text-align: center;"><img src="http://4.bp.blogspot.com/_JL5-1A9KpVc/S0TqUZlI9aI/AAAAAAAAAS8/vcc04PN1HNs/s400/CAS.jpg" align="top" height="301" alt="Ray at Pelotonia 2009" width="200" /></div>
<br />
CAT 5 Road Racing<br />
CAT 4 Cyclocross<br />
<br />
<strong>I AM</strong><strong><img src="http://1.bp.blogspot.com/_JL5-1A9KpVc/S0d9Dp3NtlI/AAAAAAAAAUY/OFbp9oDBGOw/s400/DSCF4300.JPG" align="right" height="267" alt="Ray Whitney climbing in NY 2009" width="200" /></strong><br />
<br />
I am a husband.<br />
<br />
I am a father.<br />
<br />
I am a son.<br />
<br />
I am a cyclist.<br />
<br />
I am a cancer survivor.<br />
<br />
I am a myriad of things.<br />
<br />
I am one of you.<br />
<br />
<strong>I RIDE TO LIVE</strong><br />
<br />
Riding is my therapy. It is my happy place. Riding makes me feel vital. Riding makes me feel virile.<br />
<br />
Riding makes me feel alive.<br />
<br />
On my bike I have wept for joy.<br />
<br />
On my bike I have wept from suffering.<br />
<br />
I have whooped with delight.<br />
<br />
I have screamed my angst.<br />
<br />
<strong>I RIDE TO BE ME</strong><br />
<br />
On my bike I learn my truths.<br />
<br />
I worship at the altar of the road. I pray to the Divine; and I hear It answer.<br />
<br />
I dive deep within, and I emerge enriched.<br />
<br />
<strong>MY STORY IS TYPICAL</strong><br />
<br />
In July 2006 I was diagnosed with testicular cancer (nonseminoma Stage IIB) the day before my 38th birthday. Two surgeries proved successful, and I am here today as a survivor.<br />
<br />
<strong>NO ONE EXPECTS CANCER</strong><br />
<br />
We live our lives. When I was diagnosed, my youngest daughter was five months old and I had just started a new job. I never expected cancer.<br />
<br />
<strong>IT CAN HAPPEN TO ANYONE</strong><br />
<br />
Consider:<br />
<ul>
    <li>1.4 million Americans are expected to be diagnosed with cancer this year.</li>
    <li>560,000 Americans are expected to die from cancer this year, or more than 1,500 per day.</li>
    <li>Nearly 1 in 2 men and 1 in 3 women will develop cancer during their lifetime.</li>
</ul>
<br />
Chances are, you will be affected; 3 out of 4 families will help care for a family member with cancer.<br />
<br />
<strong>THERE IS HOPE</strong><br />
<br />
More than 10 million cancer survivors live in the United States today.<br />
<br />
I am one of them.</div>