<div class="cushycms"><div align="center" id="imageDiv">
  <img src="/img/members/Rick Callies.jpg" /></div>
  <p>
    As Wendy and I were preparing to move here from Durango, Colorado,
    everyone kept asking  "Why?". "It is the Moab of the East" I replied.
    And as Wendy and I explore the trails here we have come to realize
    that the trails are nothing like Moab-more like Durango, and in some
    ways-better! If only they would cut the dang trees OUT...Patapsco is
    amazing, the road riding is hilly, and the people share our passion
    for cycling! And the weather isn't so bad...yet.
  </p>
</div>