<div class="cushycms">
<p id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Ron Hermann.jpg"/>
</p>
<p>
	Ron has been riding mountain bikes and cyclocross bikes since the mid-90's racing on-and-off since then. His three young boys and a new career as a professor of science education have competed for his time, but he is finding more time to ride and race these days. He'll be racing singlespeed cyclocross and 40+ mountain bikes this year. He also hopes to participate in more trail maintenance this year and will be looking for ways to help the AFC cause.
</p>
</div>
