<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/Ryan Blace.jpg" /></div>
<br />
<p>
	Back in the day I used to ride regularly with Pax Velo and I helped
	run the road/mtb team at UMD College Park while I was there. Since
	then, I've been out of bike racing. I recently moved to Ellicott City,
	and I've made it my goal to get back into racing shape. AFC's attitude
	towards life and dedication to helping others is infectious and I want
	to be a part of it.
</p>
</div> 