<div class="cushycms"><div align="center" id="imageDiv"><img align="center" alt="-Profile Picture Not Available-" height="466" id="teammateImg" src="img/members/Ryan Audy.jpg" style="width: 351px; height: 270px;" width="351" /></div>
&nbsp;

<p>A local runner, cyclist, and new triathlete and after joining AFC last summer starting to get the itch for the MTB again...</p>

<p>I graduated from Mount Saint Joesph in 2004 and&nbsp;from Mount Saint Mary University in 2008.I work for a construction management company.</p>

<p>I volunteer with the Tour De Cure on their&nbsp;Logistics Committee for the Cooksville, MD&nbsp;ride.</p>

<p>&nbsp;</p>
</div>