<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Ryan Cunningham.jpg"/>
</div>
<br/>
<p>
	In 2008 I was diagnosed with leukemia. A year later I was beginning to get healthy again and my friend asked me if I wanted to try mountain biking. After the first ride I was hooked and went out the next day to buy my first mountain bike.
</p>
<p>
After finishing the chemotherapy treatment in 2011 I was riding my bike constantly and getting in better shape than ever. The next summer I entered my first race with other members of the UMBC cycling team and really enjoyed testing myself.
</p>
<p>
Every year since I was diagnosed I have participated in the American Cancer Society's Relay for Life with my family and love the feeling of making a difference. I see this same commitment to helping others in AFC's mission and hope to use my passion for cycling to raise money for great causes while meeting like minded people.
</p>
</div>