<div class="cushycms">
	<div id="imageDiv" align="center">
		<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Ryan Knight.jpg"/>
	</div>
	<br/>
	<p>
		I'm a mechanical engineer working at the Army Research Laboratory.  A co-worker in 2007 got me into MTB and I've been biking ever since.  I recently started riding road and have a lot of fun in group rides.  Other activities I enjoy is trail running and hiking with my wife, wakeboarding, snowboarding, and pushing my body to the limits. 
	</p>
</div>