<div class="cushycms"><div>
	<div align="center" id="imageDiv">
		&nbsp;</div>
	<p style="text-align: center; ">
		<img alt="" src="/img/members/Sam Lear_3_2800622626.jpg" style="width: 338px; height: 450px; " /><br />
		<br />
		Cat 2 mountain bike<br />
		Cat 3 cyclocross<br />
		Cat 4 road<br />
		<a href="http://www.usacycling.org/results/index.php?compid=324478&amp;all=1">Race Stats</a></p>
	<p style="text-align: center;">
		I joined AFC and started racing in 2010.&nbsp; I look forward to the 2012 season and hope to win more races this year.</p>
</div>
<br />