<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/Sam Walters.jpg"/></div>
<br />
<p>
  I began having a serious interest in cycling in 1982 at the age of 33.  This led to active participation in both racing and general purpose bike clubs in mid-Mississippi.  I assisted with and organized events, became officers in clubs, etc.
</p>
<p>
I raced USCF events from 83 to 94, moving from Mississippi to Baltimore in 1986.  My Baltimore racing was with the Master's team of the Chesapeake Wheelmen.  Many of those years I raced 20 or more times.  I had some decent results along the way but also enjoyed racing as a support rider for stronger riders on my teams.  I was also the Legal Committee Chair for the BBC from '87 to '92. 
</p>
<p>
Due to the interests of my son, I drifted away from the most serious aspects of my riding and studied kungfu and taiji for about 7 years - ending up being far more involved in that study than he was.  And somewhere after that I stopped riding almost completely for a few years around 2002.
</p>
<p>
I started cycling regularly again in 2005, but then had a rather bad accident / encounter with a SUV - really just an accident and no fault of the driver.  Due to failed PT, then surgery to reconstruct my left shoulder and the rehabilitative PT, it was almost 18 months until I was back outside on a bike.
</p>
<p>
Each year since 2007, when I moved to Columbia, I've ridden more miles and more intensely.  When riding in fast groups, I kept thinking about racing.
</p>
<p>
So, late in 2010, I decided that I up my training intensity for the winter and spring, see where it took me, and think about racing again - at the age of 61.
</p>
<p>
Getting a racing license somewhat means that you should find a USACycling Club and affiliate with a team.  
</p>
<p>
I first heard about AFC last fall from a co-worker who was involved in some of the group's activities and from two riding friends who did the Wednesday night World's ride frequently.  Unfortunately, this was the week of the last fall rides.
</p>
<p>
But when I was looking around at the area clubs listed on the USA Cycling Website, I learned much more about AFC.  Like most other members, I was drawn to the AFC's committment to tie cycling with efforts to make a difference in the world.  
</p>
<p>
I am particularly interested in how eating healthily and exercising can reduce the incidence and / or intensity of many of the illnesses that we see increasing in our society.  I've been cooking and eating a low or no flesh diet, high in beans, grains, fruits & vegetables since the mid-70's. 
</p>
<p>
I look forward to racing with the AFC team and participating in some of AFC's community activities.
</p></div>