<div class="cushycms">
	<div align="center" id="imageDiv">
		<img src="/img/members/Samantha Garofano.jpg" />
	</div>
	<p>
		My name is Samantha Garofano. I enjoy a career as a speech-language pathologist in an elementary school.  When I am not working I like to spend my time outdoors.  You will usually catch me training for an upcoming ultramarathon.  I like to use cycling as a form of cross training.  When I am not training I enjoy backpacking, climbing, stand-up paddling, and spending time with my family, friends, and dogs.
		Promoting an active lifestyle while raising awareness and money for charitable causes is what made me want to become a member of AFC.  I am excited to be part of the team and looking forward to spreading the good word of AFC!
	</p>
</div>