<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Sebastian Murphy.jpg" /></div>
<p>
	I've been an active kid ever since I can remember. It started out with swimming which i enjoyed 

	immensely until I discovered running (cross country | track) in High School. I did that for a bit, but then I 
	
	ended up joining the cycling team while attending the University of Maryland a few years ago and never 
	
	looked back. I rode seriously until August 2011 when I was in a terrible accident with a car. I ended up at 
	
	shock trauma with a horrendous concussion and numerous broken bones, including both clavicles. Since 
	
	that point I've taken a more leisurely approach to cycling and started rock climbing, to get some of my 
	
	upper body strength back. I enjoy both sports dearly and couldn't fathom not being able to participate in 
	
	them. 
</p>
<p>
	I'm interested in trying my hand at some mountain bike and cross racing this year.
</p>
</div>