<div class="cushycms"><div align="center" id="imageDiv"><img alt="" src="/img/members/Shane Welck_6_4179251569.jpg" style="width: 409px; height: 411px;" /></div>
&nbsp;

<div>Cat 1 XC Mountain<br />
Cat 3 Cyclocross</div>

<p class="text"><br />
After a 10+ year hiatus from competitive cycling Shane is back in the saddle again and feels great. In the mid to late 90&#39;s Shane was a very competitive expert mountain bike racer, but stopped racing to focus on his career and to try some new things. Shane began riding his mountain bike again regularly 3 years ago and began racing again two years ago. After some encouragement from a few AFC members at the 2012 Sugar Hill mountain bike race Shane decided to join AFC. Shane is very excited to ride with a group of riders as passionate about the AFC mission as they are about cycling.</p>
</div>