<div class="cushycms"><div id="imageDiv" align="center"><img src="/img/members/Shannon Field"/></div>
<br />
<p class="text">
Shannon is a life long outdoor sports enthusiast.  His favorite sport was skiing; he put in hundreds of hours a season and became a ski instructor to share his love for the sport.  However, he quickly realized the lack of hills and snow when he moved Maryland in 2009, and went through some serious withdraw.  A brief moment of joy came during Snowmageddon when he snowshoed into Patapsco state park and skied down the hills. Much to his dismay the snow inevitably melted, and Shannon picked up a road bike as a way to stay in shape.  What went from a means to counter sitting in an office during his day job, quickly became a new addiction. 
</p>
<p class="text">
Shannon is a Cat 5 road racer who is looking to upgrade during the 2012 season. When not racing or riding he enjoys spending time with his wife Pam and daughter Anna.  He is excited to join AFC and contribute to its mission. Especially, raising awareness of diabetes in honor of his Grandfather who never let the disease get the best of him.
</p>
</div>