<div class="cushycms">
	<div align="center" id="imageDiv">
		<table>
			<tr>
				<td>
					<img src="/img/members/Stacie Bell.jpg" />
				</td>
				<td>
					<img src="/img/members/Stacie Bell2.jpg" />
				</td>
			</tr>
		</table>
	</div>
	<br/>
	<p>
		I have been involved in athletics for years with an emphasis on track in high school and college.  During graduate 
		school, I started competitive soccer and long distance running.  After relocating to Boulder, Coloardo for my 
		postdoctoral fellowship, I raced at the elite level for half marathon distance and took advantage of many of the 
		other adventures the area had to offer (skiing-downhill, x-country, backcountry, snowshoeing, backpacking), as well 
		as several mountain runs and challenge events.  In the late 90s, I started road cycling and fell in love with 
		climbing the endless passes and canyons.  I started racing in 2002 and won the state hill climbing championship 
		up Mt. Evans the next year.  I also had one of the biggest events that year in meeting my husband, Matt.  I was 
		training for a half in Alaska and he was getting ready for Ironman Coeur d'Alene.  Shortly thereafter, we were 
		married, honeymooned at the Tour, and started our family. We have two daughters, Lily (7) and Lucy (6).  Over the 
		past decade, I have been fortunate to enjoy cycling in a variety of training camps, events and locations while 
		balancing volunteering when possible, a rewarding career in medical research, traveling and our family time.  
		Our daughters are starting their athletic endeavors too.  As a family, we attended the Tour of California and 
		the Pro Cycling Challenge in Colorado. We have been involved in a number of races benefiting patients and their 
		families and promoting a healthy lifestyle.  Our cycling friends have provided us with community, support, fun and 
		"family" through the years.
	</p>
	<p>
		We relocated to Maryland this April and are really enjoying the area.  The one picture is for Maryland Bike to Work 
		Day this spring, embracing our new home.  My serious racing days may be behind me, but I enjoy staying fit, 
		exploring new routes, meeting new friends and being challenged.  Although I miss the Colorado mountains tremendously, 
		I feel very grateful to have been introduced to AFC.  Spending time with great people, riding my bike and helping 
		others, what else could you ask for??  
	</p>
</div>