<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Steve Klose.jpg"/>
</div>
<br/><div>CAT 5 Road Racing</div>
<div>CAT 4 Cyclocross<br />
Mountain Bike Racing - Sport</div>
<div>Member of <a href="http://www.themorningride.com/">TMR</a></div>
<div><a href="https://www.usacycling.org/results/index.php?compid=283545" target="_blank">Race Stats</a><br />
<br />
Steve is inspired by the messages, causes and activities of AFC, and believes that AFC folks are wonderful role models for young people.&nbsp; He enjoys cyclocross racing and aspires to get more into the off-road scene.<br />
<br />
Steve is a reformed triathlete and distance runner, and also played college lacrosse &quot;back in the day.&quot;</div></div>