<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Therese Cooper.jpg"/>
</div>
<br/>
<p class="text">
  Played Div. I soccer at James Madison Univ. graduated 1999.  Married with two adorable girls.
Since college, I have enjoyed staying active with outdoor sports (rock climbing, hiking, and mountain biking)
and continue to play soccer when I have the chance. 
</p>
<p class="text">
In 2009 I started getting back into running and in 2011 started road biking and did some cross races as well.
Now, I love the biking and running combo and hope to get started in Duathlons and Triathlons.
</p>
</div>