<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Tim Delss.jpg" /></div>
<br />
<p>
	I started running in 2007 after 2 months of intense physical therapy relieved knee pain I'd been dealing with for years. I did my 1st half marathon later that year at Baltimore in a time of 1:36:30 followed by my 1st marathon in May 2008. I completed the Savageman 70 triathlon, dubbed the hardest race on earth, in 2010 as my 1st triathlon. This event is my absolute favorite and I have competed in some form every year since. I won my 1st age group award in 2012 and will be racing at the 2014 USAT Age Group Nationals in an attempt to qualify for Team USA 2015. I've seen and conversed with members of AFC for the last 5 years on the roads of Elkridge and Ellicott City and now I am proud to ride alongside as a member of this unique team.
</p>
</div>