<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/TJ Sasser.jpg"/>
</div>
<br/>
<p>
  Growing up, I was always active - baseball, basketball, tennis, cross country, track. That is until 2001, when I severely sprained my ankle playing basketball. I tried getting back into things, but it was too painful. I started mountain biking with a buddy in 2010 and loved getting out and being active again. I bought a road bike in 2011 to get into better shape and to be able to ride when the trails were not rideable. I became hooked on riding in 2012.
</p>
<p>
	In addition to the causes that AFC supports, one that is dear to my heart is the National MS Society. My aunt has been living with MS for the more than 15 years. My cousin is the captain of one of the largest MS fundraising teams for the MS Walk in Ocean City and has raised a lot of money and awareness in that time. She has inspired me to do more. I am planning on raising money for and riding in the MS ride in Easton this year.
</p>
<p>
	I am planning on slowly easing my way into racing. I want to ride in the Sugar Hill Race at Patapsco in 2013 and possibly some running events once I get my running legs back. Right now, I am more interested in charity rides and century rides.
</p></div>