<div class="cushycms"><div align="center" id="imageDiv">
	&nbsp;</div>
<div style="text-align: center; ">
	<img alt="" src="/img/members/Tony Spangler_2_4225951508.jpg" style="width: 427px; height: 640px; " /></div>
<p class="text" style="text-align: center; ">
	Cat 1 MTB<br />
	Cat 3 Cyclocross<br />
	Cat 5 Road Racing<br />
	Results:&nbsp;<span style="font-size:10px;"><a href="https://www.usacycling.org/results/?compid=358359">https://www.usacycling.org/results/?compid=358359</a></span><br />
	Triathlete</p>
<p class="text">
	Tony has been riding mountain bikes since his teens but it took a near fatal collision with a car and nearly a year of rehab to ignite a passion for competitive cycling and bicycle advocacy. It was during the darkest days of his recovery that a friend gave Tony the AFC documentary and it, along with Mike Magnuson&#39;s Heft on Wheels, helped him rediscover his love of cycling.</p>
<p class="text">
	An English teacher by profession, Tony enjoys sharing his love of endurance sports with his students, encouraging them to get out and get active. Several of his former students have gone on to complete century rides and marathons.</p>
<p class="text">
	Allez, allez, allez AFC!</p>
</div>