<div class="cushycms">
<div id="imageDiv" align="center">
	<img align="center" alt="-Profile Picture Not Available-" id="teammateImg" src="img/members/Ty Long.jpg"/>
</div>
<br/>
<p>
   I am an avid rock climber/boulder'er, runner, swimmer, outdoorsman, parachutist, and a seasoned photographer. Though I haven't touched a bike in quite some time, I am eager to get started once again and hone my skills enough to compete in triathlon competition races such as Xterra. I also have competed in several obstacle adventure runs in the past and competed in a couple indoor climbing competitions. My dearest friends Paul and Leesa Tarter are active members here and were the ones who introduced me to AFC.
</p>
<p>
My wife, Courtney, is recently diagnosed Type 1 Diabetic and I would like to join because of her strong will and determining spirit in dealing with the everyday obstacles that come with being a diabetic. I know it has not been easy for her or others who suffer from the same disease and I want to do what I can to help raise awareness for those with Diabetes.
</p>
<p>
Also a huge goal of mine is to learn to ride, and ride well... by learning what I can from others who are already compete in sport racing.
</p></div>