<div class="cushycms"><div align="center" id="imageDiv">
	<img alt="" src="/img/members/Utonna Sherrod_2_3640922202.png" style="width: 255px; height: 328px;" /></div>
<br />
<div>
	Runner</div>
<div>
	Triathlete</div>
<ul>
	<li>
		<strong>Age -</strong> 27</li>
	<li>
		<strong>What do you do for a living?</strong> Computer Programmer/IT Specialist</li>
	<li>
		<strong>What kind of racing or riding do you like to do?</strong> Half marathons, cross country races, and triathlons. Going on bike rides to enjoy the outdoors.</li>
	<li>
		<strong>Where is your favorite place to run?</strong> Anywhere and Everywhere. I especially enjoy Patapsco, B&amp;A and other nice trails.</li>
	<li>
		<strong>What is your favorite charity?</strong> AFC, Kupenda, Cancer Society</li>
	<li>
		<strong>Why are you joining the AFC Women&#39;s Team?</strong> To be part of a team who aspires to help others while doing what I love.</li>
	<li>
		<strong>Do you have a riding goal, if so what is it?</strong> To do my best and enjoy the experience!</li>
</ul>
</div>