<div class="cushycms"><div align="center" id="imageDiv">
	<a href="http://warrenchambers.smugmug.com/Cyclocross/Rockburn-Cross/26607729_QbrtgH#!i=2224480298&amp;k=xrbnKRx"><img alt="" src="/img/members/Warren Chambers_3_3082335043.JPG" style="width: 400px; height: 432px" /></a></div>
<div>
	Masters Cat 4 (45+) Cyclocross</div>
<div>
	Mountain Bike Racing - Beginner</div>
<p class="text">
	I had been riding the mountain biking trails of Rockburn Park and Patapsco for years when I nearly rode into AFC&#39;s cylcocross race in 2008. I stopped and watched the races for hours as riders of all ages and skill levels raced the course. I was hooked. I bought my first cross bike and road a few races in my first year and then rode most of the Mabra series last year as a Cat 4 beginner. Regardless of whether I am riding in a race, on the road or on the trails every AFC rider I have come across has been a class act and offered assistance or useful advice. I look forward to riding with a team who is the face of Howard County cycling. When not riding for exercise, you will find me on the soccer fields where I am a coach for both my daughter&#39;s and son&#39;s teams year round.</p>
</div>