<div class="cushycms"><div align="center" id="imageDiv">
	<img src="/img/members/Will Peterson.jpg" /></div>
<br />
<p>
	Will's love of the outdoors have drawn him to find passion in a wide variety of activities including skiing, climbing, sailing, running, and backpacking.  While his affinity for mountain biking is relatively new, the excitement and challenge of the sport has quickly turned this activity into a growing addiction.  As a way to challenge his mountain biking skills, Will has recently become involved with Adventure Racing and mountain bike racing.  With several promising results in 2012, there are high hopes for what the 2013 season has in store.  Will is excited to join the AFC team, as the organization will help use his passion for the  outdoors as a means to provide for communities and those in need.
</p>
</div>