.carousel
  div.carousel.slide(id="myCarousel")
    .carousel-inner
      .active.item.pagination-centered
        a(href="index.php")
          center 
            img(src="img/carousel/home.png" alt="banner")
      .item
        a(href="donate.php")
          center img(src="img/carousel/donate.jpg")
          .carousel-caption
            h4 Donate to our charity
      .item
        a(href="events.php")
          center img(src="img/carousel/events.jpg")
          .carousel-caption
            h4 View upcomming events
      .item
        a(href="join.php")
          center
            img(src="img/carousel/membership.jpg")
          .carousel-caption
            h4 Join the AFC team!
      .item
        a(href="contact.php")
          center
            img(src="img/carousel/sam.jpg")
          .carousel-caption
            h4 Contact the AFC Board Of Directors
      .item
        a(href="about.php")
          center img(src="img/carousel/bakers2013.png")
          .carousel-caption
            h4 Read our mission statement and find out more about our charity/team
    a.left.carousel-control(href="#myCarousel" data-slide="prev")
    a.right.carousel-control(href="#myCarousel" data-slide="next")
  
  
            