.row
  .col-lg-12
    .well.pagination-centered
      center
        img(src='img/banner.png' alt='banner')
  .col-lg-4
    .well.pagination-centered.large-height
      h4 Donate To Our Charity
      p
        | Since AFC started in 2006 we have raised hundereds of thousands of dollars to fight diabetes
        | (through <a href='https://www.campnejeda.org/' target='_blank'>Camp Nejeda</a>)
        | and to help children with disabilities in Kenya
        | (through <a href='http://kupenda.org' target='_blank'>Kupenda</a>).
      p
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_s-xclick')
          input(type='hidden' name='hosted_button_id' value='YR4YTARJ2JAUN')
          input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
          img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
  .col-lg-4
    .well.large-height
      p
        h5
          center
            iframe(width="560" height="315" src="https://www.youtube.com/embed/shV7y91QK7A?si=fwpI87wZVObMpRU9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="true")
            iframe(width="560" height="315" src="https://www.youtube.com/embed/97brLZN5Hgg?si=sQ7WXdmPBNAsXH55" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="true")
            iframe(width="560" height="315" src="https://www.youtube.com/embed/tBo7CnQKbP4?si=-zwUhX-7DtZXcv-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="true")
  .col-lg-4
    .well.pagination-centered.large-height
      h4 Becoming A Member
      p Join a team with a mission to use their love of athletics to make a difference!
      a(href='/join')
        b Join The Team