.row
  .col-lg-12
    .well.pagination-centered
      center
        img(src="img/carousel/home.png" alt="banner")
.row
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
          input(type="hidden" name="cmd" value="_s-xclick")
          input(type="hidden" name="hosted_button_id" value="YR4YTARJ2JAUN")
          input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
          img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
        br
        p Since AFC started in 2006 we have raised hundereds of thousands of dollars to fight diabetes and to help children with disabilities in Kenya (through Kupenda). In 2012 we raised $37,610.07.
        a(class="btn" href="/donate.phpMore Info")
  .col-lg-4
    .well.pagination-centered
      h4 Become A Member
        p Join a team with a mission to use their love of athletics to make a difference!
        br
        a.btn(href="/join.phpApply Today")
    .well.pagination-centered
      h4 Next Event
      p
        a(href="https://www.bikereg.com/patapsco-100" target="_blank")
          img(src="img/events/patapsco100.png" alt="ptap100")
        br
        h4 Patapsco 100
        h4 July 6th, 2014
        a(href="https://www.bikereg.com/patapsco-100" target="_blank") Register HERE!
        p A mountain bike festival with a 100mi, 66mi, 33mi option and a trail 5k for runners!
        p
          a(class="btn" href="/events.phpMore Events")
  .col-lg-4
    .well.pagination-centered
      h4 AFC Swag
      p
        a(target="_blank" href="http://www.cafepress.com/AdventuresForTheCure")
          img(src="img/afc_swag.png")
        br
        span by:
          a(target="_blank" href="https://www.facebook.com/StyledbySeb?fref=tsStyledbySeb") StyledbySeb
    .well.pagination-centered
      h4 AFC Photos
      p
        a(target="_blank" href="http://www.nofilmphotography.net/race-photos")
          img(src="img/nofilmphotography.png")
        br
        span by:
          a(href="http://www.nofilmphotography.net/race-photos") NoFilm Photography