.row
  .col-lg-12
    .well.pagination-centered
      center
        img(src='img/carousel/home.png' alt='banner')
  .col-lg-4
    .well.pagination-centered.medium-height
      p
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_s-xclick')
          input(type='hidden' name='hosted_button_id' value='YR4YTARJ2JAUN')
          input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
          img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
        br
        p
          | Since AFC started in 2006 we have raised hundereds of thousands of dollars to fight diabetes and to help children with disabilities in Kenya (through Kupenda).
          | <br/><br/>
          | Check out our <a href="https://docs.google.com/spreadsheets/d/1xK4-JtLVNTViFU1_ayf6LN8D985JZaQr4GcbUWqQZnI/pubhtml" target="_blank">Yearly Funds Raised Report</a>.
  .col-lg-4
    .well.pagination-centered
      h4 Become A Member
      p Join a team with a mission to use their love of athletics to make a difference!
      br
      a(href='/join') Join The Team
    .well.pagination-centered
      h4 Next Event
      p
        // start event info
        p
          a(href='https://www.bikereg.com/Net/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank')
            img(src='img/events/sugarhill.png' alt='sugar hill')
          br
          h4 SugarHill MTB
          h4 April 3rd, 2016 (rain date May 1st)
          p
            a(href='https://www.bikereg.com/afc-sugar-hill-xc-patapsco-valley-state-park' target='_blank') Register HERE!
          p A cross country mountain bike race in Patapsco
        p
          a(class='btn' href='/events') More Events
  .col-lg-4
    .well.pagination-centered
      h4 AFC Swag
      p
        a(target='_blank' href='http://www.cafepress.com/AdventuresForTheCure')
          img(src='img/afc_swag.png')
        br
        span by:
          a(target='_blank' href='https://www.facebook.com/StyledbySeb?fref=tsStyledbySeb') StyledbySeb
    .well.pagination-centered
      h4 AFC Photos
      p
        a(target='_blank' href='http://www.nofilmphotography.net/race-photos')
          img(src='img/nofilmphotography.png')
        br
        span by:
          a(href='http://www.nofilmphotography.net/race-photos') NoFilm Photography