.row
  .col-lg-12
    .well.pagination-centered
      center
        img(src='img/banner.png' alt='banner')
  .col-lg-4
    .well.pagination-centered.medium-height
      h4 Donate To Our Charity
      p
        | Since AFC started in 2006 we have raised hundereds of thousands of dollars to fight diabetes and to help children with disabilities in Kenya (through Kupenda).
        | <br/><br/>
        | Check out our Yearly Funds Raised Report on the <a href="/donate">donate</a> page.
      p
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_s-xclick')
          input(type='hidden' name='hosted_button_id' value='YR4YTARJ2JAUN')
          input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
          img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
  .col-lg-4
    .well.pagination-centered
      h4 Our Next Event
      // start event info
      p
        h4 Catonsville Crit
        h4 July 14th, 2018 in Catonsville, MD
        p
          a(href='https://www.bikereg.com/catonsville-criterium' target='_blank') Register here!
      p
        | A critirium race in Catonsville!!
      // end event info
      p
        a(class='btn' href='/events') Check out more events...
  .col-lg-4
    .well.pagination-centered
      h4 Becoming A Member
      p Join a team with a mission to use their love of athletics to make a difference!
      a(href='/join') Join The Team
    .well.pagination-centered
      h4 Race/Event Photos
      p
        a(href='http://www.nofilmphotography.net/afc' target='_blank') NoFilm Photography