.row(ng-controller='memberListCtrl')
  .col-lg-12
    .well
      table.table
        thead
          tr
            th Username (Email)
            th Name
            th Image
            th Admin
            th Inventory
            th Actions
        tbody
          tr(ng-repeat="member in members")
            td {{member.username}}
            td {{member.name}}
            td
              a(ng-if="member.imgPath" href="{{member.imgPath}}" target="_blank")
                img(src="{{member.imgPath}}" width="100px" height="auto" alt="No image!")
              span(ng-if="!member.imgPath") No image!
            td {{member.isAdmin()}}
            td {{member.isInventory()}}
            td
              button.btn(ng-click="editMember(member)") Edit
              | &nbsp;
              button.btn(ng-click="deleteMember(member)") Delete