//.row(ng-controller='memberListCtrl')
//  .col-lg-12
//    .well
//      table.table.table-striped.table-condensed
//        thead
//          tr
//            th Username (Email)
//            th Name
//            th Image
//            th Admin
//            th Inventory
//            th Board
//            th Actions
//        tbody
//          tr(ng-repeat="member in members")
//            td {{member.username}}
//            td {{member.name}}
//            td
//              a(ng-if="member.imgPath" href="{{member.imgPath}}" target="_blank")
//                img(src="{{member.imgPath}}" width="100px" height="auto" alt="No image!")
//              span(ng-if="!member.imgPath") No image!
//            td {{member.isAdmin()}}
//            td {{member.isInventory()}}
//            td {{member.isBoard()}}
//            td
//              button.btn.btn-default.btn-sm(ng-click="editMember(member)" title="Edit")
//                span(class="glyphicon glyphicon-edit" aria-hidden="true")
//              | &nbsp;
//              button.btn.btn-default.btn-sm(ng-show='member.isActive' ng-click="deactivateMembership(member)" title="Deactivate membership")
//                span(class="glyphicon glyphicon-ok" aria-hidden="true")
//              button.btn.btn-default.btn-sm(ng-show='!member.isActive' ng-click="activateMembership(member)" title="Activate membership")
//                span(class="glyphicon glyphicon-warning-sign" aria-hidden="true")
//              | &nbsp;
//              button.btn.btn-default.btn-sm(ng-click="deleteMember(member)" title="Delete")
//                span(class="glyphicon glyphicon-trash" aria-hidden="true")
