.col-lg-12(ng-controller='boardOnlyCtrl')
  .well
    p
      a(href='https://github.com/AdventuresForTheCure/adventures-for-the-cure' target='_blank') Website Code (on GIT)
    p
      a(href='https://github.com/AdventuresForTheCure/adventures-for-the-cure/tree/master/resources/docs' target='_blank') Documents(on GIT)
    p
      a(href='https://github.com/AdventuresForTheCure/adventures-for-the-cure/tree/master/resources/docs/nonprofit' target='_blank') Non Profit Documents(on GIT)
    p
      a(href='https://github.com/AdventuresForTheCure/adventures-for-the-cure/tree/master/resources/images' target='_blank') Images(on GIT)
    p
      a(href='/docs/AFC_Letterhead.doc' target='_blank') AFC Letter Head (Document)
    p AFC Logos (vector images)
      ul
        li
          a(href='/img/logos/AFC_anything.psd' target='_blank') AFC_anything.psd
        li
          a(href='/img/logos/AFC_Logo_Black.psd' target='_blank') AFC_Logo_Black.psd
        li
         a(href='/img/logos/AFC_Logo_White.psd' target='_blank') AFC_Logo_White.psd
        li
          a(href='/img/logos/AFC_LoveLife.psd' target='_blank') AFC_LoveLife.psd
        li
          a(href='/img/logos/AFC_White_Background.psd' target='_blank') AFC_White_Background.psd
    p
      a(href='/sponsor-logos') 2016 High Res Sponsor Logos