.col-lg-12(ng-controller='boardOnlyCtrl')
  .well
    p
      a(href='https://github.com/pblair12/adventures-for-the-cure' target='_blank') Website Code (on GIT)
    p
      a(href='https://github.com/pblair12/adventures-for-the-cure/tree/master/resources/docs' target='_blank') Documents(on GIT)
    p
      a(href='https://github.com/pblair12/adventures-for-the-cure/tree/master/resources/docs/nonprofit' target='_blank') Non Profit Documents(on GIT)
    p
      a(href='https://github.com/pblair12/adventures-for-the-cure/tree/master/resources/images' target='_blank') Images(on GIT)
    p
      a(href='/docs/AFC_Letterhead.doc' target='_blank') AFC Letter Head (Document)

