.row
  .col-lg-12
    .well.pagination-centered
      form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
        input(type='hidden' name='cmd' value='_s-xclick')
        input(type='hidden' name='hosted_button_id' value='YR4YTARJ2JAUN ')
        input(type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!')
        img(alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1')
    .well
      h4 Fundraising Reports
      p
        | Since AFC started in 2006 we have raised hundereds of thousands of dollars to fight diabetes
        | (by supporting <a href='http://www.diabetesdestiny.org/' target='_blank'>Diabetes DESTINY</a>)
        | and to help children with disabilities in Kenya
        | (by supporting <a href='http://kupenda.org' target='_blank'>Kupenda for the Children</a>).
      p
        iframe(width='100%' height='550px' frameborder='0' src="https://docs.google.com/spreadsheets/d/1xK4-JtLVNTViFU1_ayf6LN8D985JZaQr4GcbUWqQZnI/pubhtml?widget=true&amp;headers=false")
        //
          iframe(width='100%' height='450px' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Akr-7S-3TpsmdGIxZmxKNXVkOU1adnpBODdsa0liVnc&output=html&widget=true')