.navbar.navbar-inverse.navbar-fixed-top(ng-controller='navbarLoginCtrl' role='navigation')
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      </button>
      a.navbar-brand(href='/')
        img(src='/img/afc.jpg')
    .collapse.navbar-collapse(id='navbar')
      ul.nav.navbar-nav.navbar-left
        li(ng-class='{ active: isActive("/home")}')
          a(href='/home') Home
        li(ng-class='{ active: isActive("/donate")}')
          a(href='/donate') Donate
        li(ng-class='{ active: isActive("/events")}')
          a(href='/events') Events
        li(ng-class='{ active: isActive("/rides")}')
          a(href='/rides') Rides
        li(ng-class='{ active: isActive("/members")}')
          a(href='/members') Members
        li(ng-class='{ active: isActive("/results")}')
          a(href='/results') Results
        li(ng-class='{ active: isActive("/campaigns")}')
          a(href='/campaigns') Campaigns
        li(ng-class='{ active: isActive("/inventory")}')
          a(href='/inventory') Inventory
        li(ng-class='{ active: isActive("/contact")}')
          a(href='/contact') Contact
      .navbar-right(ng-if='identityService.isAuthenticated()')
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.logged-in.dropdown-toggle(href='', data-toggle='dropdown')
              b.logged-in {{identityService.currentMember.name}}
                .caret
            ul.dropdown-menu
              li(ng-if='identityService.isAdmin()')
                a(href='/member-create') Member Create
              li(ng-if='identityService.isAdmin()')
                a(href='/member-list') Members List
              li.divider(ng-if='identityService.isAdmin()' role='presentation')
              li(ng-if='identityService.isBoard()')
                a(href='/volunteer-event-create') Event Create
              li(ng-if='identityService.isBoard()')
                a(href='/volunteer-event-list') Events List
              li.divider(ng-if='identityService.isAdmin()' role='presentation')
              li
                a(href='/member-edit/{{identityService.currentMember._id}}') Profile
              li
                a(href='/member-only') Members Only
              li.divider(role='presentation')
              li
                a(href='', ng-click='signout()') Sign Out
      .navbar-right(ng-if='!identityService.isAuthenticated()')
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login