<div ng-controller="navbarLoginCtrl" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/" class="navbar-brand"><img src="/img/navbarBrand.png"/></a></div>
    <div ng-if="identityService.isAuthenticated()" class="navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" data-toggle="dropdown" class="logged-in dropdown-toggle">
            <b class="logged-in">
              {{identityService.currentUser.firstName}} {{identityService.currentUser.lastName}}
              <div class="caret"></div>
            </b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/views/profile/profile">Profile</a></li>
            <li><a href="" ng-click="signout()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>