.navbar.navbar-inverse.navbar-fixed-top(ng-controller="navbarLoginCtrl")
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/")
        img(src="/img/afc.jpg")
    .navbar-left
      ul.nav.navbar-nav.navbar-left
        li
          a(href="/home") Home
        li
          a(href="/donate") Donate
        li
          a(href="/events") Events
        li
          a(href="/campaigns") Campaigns
        li
          a(href="/rides") Rides
        li
          a(href="/members") Members/Join
        li
          a(href="/results") Results/Media
        li
          a(href="/inventory") Inventory
        li
          a(href="/contact") Contact/About
    .navbar-right(ng-if="identityService.isAuthenticated()")
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.logged-in.dropdown-toggle(href="", data-toggle="dropdown")
            b.logged-in {{identityService.currentUser.firstName}} {{identityService.currentUser.lastName}}
              .caret
          ul.dropdown-menu
            li
              a(href="/views/profile/profile") Profile
            li
              a(href="", ng-click="signout()") Sign Out
