.row
  .col-lg-12
    .well
      h4 Contact
      span Adventures For The Cure
      br
      span PO Box 7372
      br
      span Halethorpe, MD 21227-7372
      br
      i If sending a donation make checks payable to 'AFC'
      br
      br
      p
        | Email us at: <span class='special'>afc-board-of-directors@googlegroups.com</span>
    .well
      h4 Mission Statement
      span
        | <span class='extraspecial'>Adventures For The Cure (AFC)</span> is a
        | <a href='http://www.irs.gov/app/pub-78/search.do?indexOfFirstRow=0&amp;sortColumn=city&amp;isDescending=false&amp;resultsPerPage=25&amp;deductibility=all&amp;indexOfFirstRow=0&amp;isDescending=false&amp;dispatchMethod=search&amp;country=USA&amp;nameSearchTypeStarts=false&amp;names=adventures+for+the+cure&amp;nameSearchTypeAll=true&amp;state=All...&amp;sortColumn=name&amp;city=' target='_blank'>501 (c)(3) tax-exempt nonprofit organization</a>, <a href='https://www.usacycling.org/clubs/index.php?club=11832' target='_blank'>USA Cycling Club</a>,
        | and <a href='http://www.usatriathlon.org/resources/for-clubs/find-a-club' target='_blank'>USA Triathlon Club</a>
        | that exists to empower people to use what they love to raise money and awareness for charitable causes that
        | are important to them. AFC focuses on using a love of cycling to accomplish this task, but we believe that
        | any gift or talent can be used to help others and to make a positive change in the world and we fully
        | encourage others to do so!
      br
      br
      span
        | In particular, AFC frequently focuses on helping children with diabetes through the
        | <a href='http://www.diabetesdestiny.org/' target='_blank'>Extreme Weekend For Children With Diabetes Camp</a>
        | as well as <a href='http://kupenda.org/' target='_blank'>Kupenda for the Children</a>, an organization
        | that helps children with disabilities in Kenya. Through all of our efforts, we hope to inspire others to
        | live healthy lifestyles and to adventure beyond their perceived limits, because
        | <span class='extraspecial'> ANYTH!NG Is Possible</span>.
    .well
      h4 Board Of Directors
      .well
        h5(style='font-weight:bold') Adam Driscoll - President
        .row
          .col-lg-3
            img(src='/img/board/AdamDriscoll.jpg')
          .col-lg-9
            p
              | Adam Driscoll co-founded Adventures For the Cure (AFC) with Patrick Blair in 2005. He has a Bachelor&#39;s of Science in
              | Information Technology from University of Maryland Baltimore County. He is currently employed as an IT Specialist. Some of
              | Adam&#39;s athletic accomplishments include: Race Across America (4 man fixed gear team finishing 4th and 2 man team finishing
              | 1st in 7 days 1 hour, completing a 6,500 mile bike ride across the country on a fixed gear bike which is now an award winning
              | documentary, and Cat 1 cyclocross, and Cat 2 road racer. Adam has also type 1 diabetes as he was diagnosed with it when he
              | was 12 years and has lived by his motto &quot;Anything is Possible&quot;.
      .well
        h5(style='font-weight:bold') Patrick Blair - Vice President
        .row
          .col-lg-3
            img(src='/img/board/PatrickBlair.jpg')
          .col-lg-9
            p
              | Patrick Blair co-founded Adventures For the Cure (AFC) with Adam Driscoll in 2005. He has a Bachelor&#39;s of Science in
              | Computer Science from UMBC and a Masters in Computer Science from Johns Hopkins. He is currently employeed as a sofware
              | engineer. Some of Patrick&#39;s athletic accomplishments include: completing 2 Ironman distance triathlons, racing in
              | Race Across America twice (once as a 4 man fixed gear team and once as a 2 man team), completing a 6,500 mile bike ride
              | across the country on a fixed gear bike.
      .well
        h5(style='font-weight:bold')  Mike Caputi - Treasurer</h5>
        .row
          .col-lg-3
            img(src='/img/board/MikeCaputi.jpg')
          .col-lg-9
            p
              | Michael Caputi joined AFC when they officially became a non-profit in 2007. As the trusty treasurer, Mike ensures that all of
              | the donations that come to AFC are accurately accounted for. He has a Bachelor&#39;s of Science in Information Systems
              | from UMBC and is currently employed as a system administrator. When not working on AFC&#39;s finances, there is a good
              | chance you can find him playing with some sort of computer or gadget, or getting fit for this fall&#39;s cyclocross season!
      .well
        h5(style='font-weight:bold')  Matt Lear - Secretary</h5>
        .row
          .col-lg-3
            img(src='/img/board/MattLear.jpg')
          .col-lg-9
            p
              | Matt Lear has taken the AFC Juniors team and really made it into something awesome! We now have 2 scheduled training
              | rides and there will be Wednesday evening cyclocross practices starting in the 2011 cyclocross season.
      .well
        h5(style='font-weight:bold')  Bruce Cole</h5>
        .row
          .col-lg-3
            img(src='/img/board/BruceCole.jpg')
          .col-lg-9
            p
              | profile coming soon...
      .well
        h5(style='font-weight:bold')  Matt O'Byrne - Sugar Hill Race Director</h5>
        .row
          .col-lg-3
            img(src='/img/board/blank.png')
          .col-lg-9
            p
              | Matt joined the team in 2011 and volunteered to be the co-director of the Sugar Hill Mountain Bike Race in 2013.
              | (He has a Bachelor's degree in Economics from St. Mary's College and a MBA from University of Baltimore.)  He is the Director
              | of Reporting & Analytics for Aerotek, Inc.  Matt is an avid cyclocross and mountain bike racer and joined the team to support
              | a local charity that combines athletics with supporting charities that are focused on children with disabilities.
      .well
        h5(style='font-weight:bold')  Tom Schreck - Sugar Hill Race Director</h5>
        .row
          .col-lg-3
            img(src='/img/board/blank.png')
          .col-lg-9
            p
              | profile coming soon...
      .well
        h5(style='font-weight:bold')  Jon Houghton - Rockburn Cross Race Director</h5>
        .row
          .col-lg-3
            img(src='/img/board/blank.png')
          .col-lg-9
            p
              | profile coming soon...