.row
  .col-lg-12
    .well
      h4 Contact
      span Adventures For The Cure
      br
      p
        | Email us at: <span class='special'>afc-board-of-directors@googlegroups.com</span>
    .well
      h4 Mission Statement
      span
        | <span class='extraspecial'>Adventures For The Cure (AFC)</span> is a
        | <a href='http://www.irs.gov/app/pub-78/search.do?indexOfFirstRow=0&amp;sortColumn=city&amp;isDescending=false&amp;resultsPerPage=25&amp;deductibility=all&amp;indexOfFirstRow=0&amp;isDescending=false&amp;dispatchMethod=search&amp;country=USA&amp;nameSearchTypeStarts=false&amp;names=adventures+for+the+cure&amp;nameSearchTypeAll=true&amp;state=All...&amp;sortColumn=name&amp;city=' target='_blank'>501 (c)(3) tax-exempt nonprofit organization</a>, <a href='https://www.usacycling.org/clubs/index.php?club=11832' target='_blank'>USA Cycling Club</a>,
        | and <a href='http://www.usatriathlon.org/resources/for-clubs/find-a-club' target='_blank'>USA Triathlon Club</a>
        | that exists to empower people to use what they love to raise money and awareness for charitable causes that
        | are important to them. AFC focuses on using a love of cycling to accomplish this task, but we believe that
        | any gift or talent can be used to help others and to make a positive change in the world and we fully
        | encourage others to do so!
      br
      br
      span
        | In particular, AFC frequently focuses on helping children with diabetes through the
        | <a href='http://www.diabetesdestiny.org/' target='_blank'>Extreme Weekend For Children With Diabetes Camp</a>
        | as well as <a href='http://kupenda.org/' target='_blank'>Kupenda for the Children</a>, an organization
        | that helps children with disabilities in Kenya. Through all of our efforts, we hope to inspire others to
        | live healthy lifestyles and to adventure beyond their perceived limits, because
        | <span class='extraspecial'> ANYTH!NG Is Possible</span>.
    .well
      h4 Board Of Directors
      h5 Adam Driscoll - President / Sugar Hill Race Director / Elkridge Spring Classic Assistant Director / Catonsville Criterium Assistant Director / Everesting Organizer
      h5 Patrick Blair - Vice President / Secretary / Treasurer / Inventory Management / Webmaster / Sugar Hill Race Director / Everesting Organizer
      h5 Matt O'Byrne - Rockburn Cross Race Director
      h5 Jon Houghton - Rockburn Cross Race Director
      h5 Matthew Martin - Elkridge Spring Classic Race Director / Catonsville Criterium Race Director
      h5 Adam Weddington - AFC Classics Race Director
    .well
      h4 Financials
      h5 AFC's financial statements and tax returns are available for public viewing upon formal request to the <a href="mailto:afc-board-of-directors@googlegroups.com">AFC Board of Directors</a>.
