if !!bootstrappedMember || !!bootstrappedConfig
  script.
    window.bootstrappedMemberObject = {{!JSON.stringify(bootstrappedMember)}}
    window.bootstrappedConfigObject = {{!JSON.stringify(bootstrappedConfig)}}