.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.cvillebikes.com/')
          img.graphic(src='/img/sponsors/2015/hub.jpg')
        br
        br
        a(target='_blank' href='http://www.acrinsulation.com/')
          img.graphic(src='/img/sponsors/2015/acr.jpg')
        br
        br
        a(target='_blank' href='http://www.blueoceanideas.net/')
          img.graphic(src='/img/sponsors/2015/blueoceanideas.jpg')
        br
        br
        a(target='_blank' href='http://www.nofilmphotography.net/')
          img.graphic(src='/img/sponsors/2015/nofilmphotography.jpg')
        br
        br
        a(target='_blank' href='"http://www.michaelbonsbyhvac.com')
          img.graphic(src='/img/sponsors/2015/michaelbonsby.jpg')
        br
        br
        a(target='_blank' href='http://www.cannondale.com/')
          img.graphic(src='/img/sponsors/2015/cannondale.jpg')
        br
        br
        a(target='_blank' href='http://www.tarantinoec.com/')
          img.graphic(src='/img/sponsors/2015/tarantino.jpg')
        br
        br
        a(href='http://www.cbmove.com/matt.spence' target='_blank')
          img.graphic(src='/img/sponsors/2015/spencemiller.jpg')
        br
        br
        a(target='_blank' href='http://www.barmitts.com')
          img.graphic(src='/img/sponsors/2015/barmitts.jpg')
        br
        br
        a(target='_blank' href='http://www.ceraproductsinc.com/')
          img.graphic(src='/img/sponsors/2015/cerasport.jpg')
        br
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
          img.graphic(src='/img/sponsors/2015/jailbreak.jpg')
        br
        br
        a(target='_blank' href='http://www.nicebrightmassage.com/')
          img.graphic(src='/img/sponsors/2015/nickbright.jpg')
        br
        br
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2015/clearedge.jpg')
        br
        br
        a(target='_blank' href='http://cyberpointllc.com/')
          img.graphic(src='/img/sponsors/2015/cyberpoint.png')
        br
        br
        a(target='_blank' href='http://www.cescience.com/')
          img.graphic(src='/img/sponsors/2015/cescience.jpg')
        br
        br
        a(target='_blank' href='http://www.asymmetrik.com/')
          img.graphic(alt='Asymmetrik' src='/img/sponsors/2015/asymmetrik.png')
        br
        br
        a(target='_blank' href='http://www.marylandpt.net/')
          img.graphic(alt='MD Physical Therapy' src='/img/sponsors/2015/mdphysicaltherapy.jpg')
        br
        br
        a(target='_blank' href='http://wickedwash.com/')
          img.graphic(alt='Wicked Wash' src='/img/sponsors/2015/wickedwash.jpg')
        br
        br
        a(target='_blank' href='http://www.hexperformance.com/')
          img.graphic(alt='HEX Performance' src='/img/sponsors/2015/hexperformance.jpeg')
        br
        br
        a(target='_blank' href='http://90pluscycling.com')
          img.graphic(alt='Spin 90' src='/img/sponsors/2015/spin90.jpg')
        br
        br
        a(target='_blank' href='http://www.hincapie.com')
        img.graphic(alt='Hincapie' src='/img/sponsors/2015/hincapie.jpg')
        br
        br
        //
          br
          a(target='_blank' href='http://barknatural.com/')
            img.graphic(alt='Bark' src='/img/sponsors/2015/bark.jpg')
          br
          br



          br
          a(target='_blank' href='http://www.asymmetrik.com/')
            img.graphic(alt='Asymmetrik' src='/img/sponsors/2015/asymmetrik.jpg')
          br
          br
          a(target='_blank' href='https://www.facebook.com/StyledbySeb?fref=ts')
            img.graphic(alt='StyledbySeb' src='/img/sponsors/2015/styledbyseb.png')