.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.cvillebikes.com/')
          img.graphic(alt='The Hub' src='/img/sponsors/2016/lowres/hub.jpg')
        br
        br
        a(target='_blank' href='http://camerongroupllc.com/')
          img.graphic(alt='Cameron Group LLC' src='/img/sponsors/2016/lowres/cameron.png')
        br
        br
        a(target='_blank' href='http://www.nofilmphotography.net/')
          img.graphic(alt='NoFilm Photography' src='/img/sponsors/2016/lowres/nofilmphotography.jpg')
        br
        br
        a(target='_blank' href='http://www.cannondale.com/')
          img.graphic(alt='Cannondale' src='/img/sponsors/2016/lowres/cannondale.jpg')
        br
        br
        a(target='_blank' href='http://www.michaelbonsbyhvac.com')
          img.graphic(alt='Michael Bonsby HVAC' src='/img/sponsors/2016/lowres/michaelbonsby.jpg')
        br
        br
        a(target='_blank' href='http://www.ceraproductsinc.com/')
          img.graphic(alt='Cera Products' src='/img/sponsors/2016/lowres/cerasport.jpg')
        br
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
          img.graphic(alt='Jailbreak Brewery' src='/img/sponsors/2016/lowres/jailbreak.jpg')
        br
        br
        a(target='_blank' href='http://wickedwash.com/')
          img.graphic(alt='Wicked Wash' src='/img/sponsors/2016/lowres/wickedwash.jpg')
        br
        br
        a(target='_blank' href='http://www.barmitts.com')
          img.graphic(alt='Bar Mitts' src='/img/sponsors/2016/lowres/barmitts.jpg')
        br
        br
        a(target='_blank' href='http://www.tarantinoec.com/')
          img.graphic(alt='Tarantino' src='/img/sponsors/2016/lowres/tarantino.jpg')
        br
        br
        a(href='http://www.cbmove.com/matt.spence' target='_blank')
          img.graphic(alt='Matt Spence' src='/img/sponsors/2016/lowres/spencemiller.jpg')
        br
        br
        a(href='http://www.facebook.com/pushracing' target='_blank')
          img.graphic(alt='PUSH Racing' src='/img/sponsors/2016/lowres/push.png')
        br
        br
        a(target='_blank' href='http://www.marylandpt.net/')
          img.graphic(alt='MD Physical Therapy' src='/img/sponsors/2016/lowres/mdphysicaltherapy.gif')
        br
        br
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2016/lowres/clearedge.jpg')
        br
        br
        a(target='_blank' href='http://www.dunbararmored.com')
          img.graphic(alt='Dunbar' src='/img/sponsors/2016/lowres/dunbar.png')
        br
        br
        a(target='_blank' href='http://www.cescience.com/')
          img.graphic(alt='CE Science' src='/img/sponsors/2016/lowres/cescience.jpg')
        br
        br
        a(target='_blank' href='http://www.asymmetrik.com/')
          img.graphic(alt='Asymmetrik' src='/img/sponsors/2016/lowres/asymmetrik.png')
        br
        br
        //a(target='_blank' href='http://www.hexperformance.com/')
        //  img.graphic(alt='HEX Performance' src='/img/sponsors/2016/lowres/hexperformance.jpeg')
        //br
        //br
        //a(target='_blank' href='http://90pluscycling.com')
        //  img.graphic(alt='Spin 90' src='/img/sponsors/2016/lowres/spin90.jpg')
        //br
        //br