.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.cvillebikes.com/')
          img.graphic(alt='Catonsville Bicycles' src='/img/sponsors/2020/lowres/cvillebikes.jpg')
        br
        br
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2020/lowres/clearedge.jpg')
        br
        br
        a(target='_blank' href='http://www.in8-solutions.com/')
          img.graphic(alt='in8' src='/img/sponsors/2020/lowres/in8.png')
        br
        br
        a(target='_blank' href='http://www.ceraproductsinc.com/')
          img.graphic(alt='Cera Products' src='/img/sponsors/2020/lowres/cerasport.jpg')
        br
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
          img.graphic(alt='Jailbreak Brewery' src='/img/sponsors/2020/lowres/jailbreak.jpg')
        br
        br