.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.catonsvillebicycles.com/')
          img.graphic(alt='Catonsville Bicycles' src='/img/sponsors/2022/lowres/cvillebikes.jpg')
        br
        br
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2022/lowres/clearedge.jpg')
        br
        br
        a(target='_blank' href='http://www.in8-solutions.com/')
          img.graphic(alt='in8' src='/img/sponsors/2022/lowres/in8.png')
        br
        br
        a(target='_blank' href='http://www.jmutilitygroup.com')
          img.graphic(alt='jmutilitygroup' src='/img/sponsors/2022/lowres/jmutilitygroup.png')
        br
        br
        a(target='_blank' href='https://www.estersontherapy.com/')
          img.graphic(alt='estersontherapy' src='/img/sponsors/2022/lowres/esterson.jpg')
        br
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
          img.graphic(alt='Jailbreak Brewery' src='/img/sponsors/2022/lowres/jailbreak.jpg')
        br
        br
        a(target='_blank' href='http://www.barmitts.com')
          img.graphic(alt='Bar Mitts' src='/img/sponsors/2022/lowres/barmitts.jpg')
        br
        br