.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        h4 Sponsors / Partners
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.cvillebikes.com/')
          img.graphic(alt='The HUB' src='/img/sponsors/2014/hub.jpg')
        br 
        br
        a(target='_blank' href='http://www.ceraproductsinc.com/')
          img.graphic(alt='Cera Products Inc' src='/img/sponsors/2014/cerasport.jpg')
        br 
        br 
        a(target='_blank' href='http://www.marylandpt.net/')
          img.graphic(alt='MD Physical Therapy' src='/img/sponsors/2014/mdphysicaltherapy.jpg')
        br 
        br 
        a(target='_blank' href='http://www.nofilmphotography.net/')
          img.graphic(alt='No Film Photography' src='/img/sponsors/2014/nofilmphotography.jpg')
        br 
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
        img.graphic(alt='Jailbreak Brewery' src='/img/sponsors/2014/jailbreak.jpg')
        br
        br
        a(target='_blank' href='http://wickedwash.com/')
          img.graphic(alt='Wicked Wash' src='/img/sponsors/2014/wickedwash.jpg')
        br 
        br 
        a(target='_blank' href='http://www.hexperformance.com/')
          img.graphic(alt='HEX Performance' src='/img/sponsors/2014/hexperformance.jpeg')
        br 
        br
        a(target='_blank' href='http://www.spin90.com/')
          img.graphic(alt='Spin 90' src='/img/sponsors/2014/spin90.jpg')
        br
        br
        a(target='_blank' href='http://www.cannondale.com/')
        img.graphic(alt='Cannondale' src='/img/sponsors/2014/cannondale.jpg')
        br
        br
        a(target='_blank' href='http://barknatural.com/')
          img.graphic(alt='Bark' src='/img/sponsors/2014/bark.jpg')
        br 
        br 
        a(target='_blank' href='http://www.hincapie.com')
          img.graphic(alt='Hincapie' src='/img/sponsors/2014/hincapie.jpg')
        br 
        br 
        a(target='_blank' href='http://www.barmitts.com')
          img.graphic(alt='Hincapie' src='/img/sponsors/2014/barmitts.jpg')
        br 
        br 
        a(target='_blank' href='http://www.blueoceanideas.net/')
          img.graphic(alt='Blue Ocean Ideas' src='/img/sponsors/2014/blueoceanideas.jpg')
        br 
        br 
        a(target='_blank' href='http://www.cescience.com/')
          img.graphic(alt='CE Science Logo' src='/img/sponsors/2014/cescience.jpg')
        br 
        br 
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2014/clearedge.jpg')
        br 
        br 
        a(target='_blank' href='http://www.nicebrightmassage.com/')
          img.graphic(alt='Nic Ebright Sports Massage' src='/img/sponsors/2014/nickbright.jpg')
        br 
        br 
        a(target='_blank' href='http://www.asymmetrik.com/')
          img.graphic(alt='Asymmetrik' src='/img/sponsors/2014/asymmetrik.jpg')
        br 
        br 
        a(target='_blank' href='https://www.facebook.com/StyledbySeb?fref=ts')
          img.graphic(alt='StyledbySeb' src='/img/sponsors/2014/styledbyseb.png')