.row-fluid.well-sponsors
  .row-fluid
    .span12
      .pagination-centered
        a(target='_blank' href='http://www.cvillebikes.com/')
          img.graphic(alt='The Hub' src='/img/sponsors/2019/lowres/hub.jpg')
        br
        br
        a(target='_blank' href='http://www.clearedgeit.com')
          img.graphic(alt='Clear Edge IT Solutions, Inc.' src='/img/sponsors/2019/lowres/clearedge.jpg')
        br
        br
        a(target='_blank' href='http://www.in8-solutions.com/')
          img.graphic(alt='in8' src='/img/sponsors/2019/lowres/in8.png')
        br
        br
        a(target='_blank' href='http://www.ceraproductsinc.com/')
          img.graphic(alt='Cera Products' src='/img/sponsors/2019/lowres/cerasport.jpg')
        br
        br
        a(target='_blank' href='http://www.jailbreakbrewing.com/')
          img.graphic(alt='Jailbreak Brewery' src='/img/sponsors/2019/lowres/jailbreak.jpg')
        br
        br
        a(href='http://www.mattspencerealestate.com' target='_blank')
            img.graphic(alt='Matt Spence' src='/img/sponsors/2019/lowres/spence.jpg')
        br
        br
        a(target='_blank' href='http://www.barmitts.com')
          img.graphic(alt='Bar Mitts' src='/img/sponsors/2019/lowres/barmitts.jpg')
        br
        br
        a(target='_blank' href='http://www.michaelbonsbyhvac.com')
          img.graphic(alt='Bonsby' src='/img/sponsors/2019/lowres/michaelbonsby.jpg')
        br
        br
        a(target='_blank' href='https://www.818market.com/')
          img.graphic(alt='818 Market' src='/img/sponsors/2019/lowres/818market.png')
        br
        br
        a(target='_blank' href='https://www.sugoi.com')
          img.graphic(alt='Sugoi' src='/img/sponsors/2019/lowres/sugoi.png')
        br
        br
        a(target='_blank' href='http://www.asymmetrik.com/')
          img.graphic(alt='Asymmetrik' src='/img/sponsors/2019/lowres/asymmetrik.png')
        br
        br