.row(ng-controller='campaignsCtrl')
  .col-lg-4
    .well
      p
       | Email
       | <span class='email'>afc-board-of-directors@googlegroups.com</span>
       | to learn how to start your own AFC Campaign
    .well
      h4 AFC Campaign List
      ul(style='padding-left:10px')
        li(ng-repeat='campaign in campaigns | orderBy:"name":true')
          a(ng-click='selectCampaign(campaign)' href='') {{campaign.name}}
  .col-lg-8
    .well(ng-bind-html='selectedCampaignHtml')